{
  "openapi": "3.0.0",
  "info": {
    "title": "CDN360 API Specification",
    "version": "1.0",
    "description": "CDN360 APIs allow you to manage CDN360 services.",
    "contact": {
      "url": "https://www.cdnetworks.com"
    }
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com"
    },
    {
      "url": "https://ngapi.quantil.com",
      "description": ""
    }
  ],
  "paths": {
    "/cdn/properties/{propertyID}/versions/{version}": {
      "get": {
        "description": "Get the detailed configuration of a property version.",
        "operationId": "getPropertyVersion",
        "tags": [
          "Property Management"
        ],
        "responses": {
          "200": {
            "description": "The response contains the full details of the property version configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "propertyVersion",
                  "type": "object",
                  "description": "This describes a property version. It includes all of the configuration along with information about its deployment status.",
                  "x-examples": {
                    "example-1": {
                      "value": {
                        "version": 1,
                        "configs": {
                          "description": "validPropertyVersionAllFields_PropertySteps",
                          "cacheKeyHostname": "testdomain-t1572317034478.mydomain.info",
                          "tlsCertificateId": "8fde2798385e3d0db19bc330",
                          "tlsMinVersion": "1.1",
                          "tlsMaxVersion": "1.2",
                          "tlsCiphers": "ALL:-MD5",
                          "syntaxVersion": "1",
                          "hasBeian": false,
                          "schemeInCacheKey": true,
                          "requestHandlers": {
                            "preprocess": {},
                            "prehtlookup": {},
                            "posthtlookup": {},
                            "origins": {},
                            "mod4origin": {},
                            "cachetime": {},
                            "mod4client": {},
                            "responseDone": {}
                          },
                          "hostnames": [
                            "testdomain-t1572317034478.mydomain.info",
                            "testdomain-t1572317034478.mydomain.info"
                          ],
                          "origins": [
                            {
                              "name": "my_origin_1572317034478",
                              "supportedProtocol": "both",
                              "hostHeader": "autohostheader.com",
                              "directConnection": "alwaysDirect",
                              "servers": [
                                "mydomain.info"
                              ]
                            }
                          ],
                          "loadBalancerHashKey": "$http_hashvalue",
                          "edgeLogic": "location / {origin_pass my_origin_1572317034478;} return 200;",
                          "allowProtocolDowngrade": false
                        },
                        "status": {
                          "lastValidationStatus": "NotValidated",
                          "frozen": false,
                          "creationTime": "2019-10-29T02:43:53Z",
                          "lastUpdateTime": "2019-10-29T02:43:56Z",
                          "inProduction": false,
                          "inStaging": false
                        }
                      }
                    }
                  },
                  "properties": {
                    "version": {
                      "type": "integer"
                    },
                    "configs": {
                      "title": "propertyConfiguration",
                      "type": "object",
                      "description": "Describes a property configuration. This contains all the settings.",
                      "x-examples": {
                        "example-1": {
                          "value": {
                            "syntaxVersion": 1,
                            "edgeLogic": "location / {origin_pass my_origin_1572420965460;}",
                            "tlsMaxVersion": "1.2",
                            "tlsMinVersion": "1.1",
                            "tlsCertificateId": "8961b13c87cd30a7687edc8c",
                            "origins": [
                              {
                                "hostHeader": "testcustomer.g.qtlcdn.com",
                                "servers": [
                                  "edgetools.theoriginserver.com"
                                ],
                                "name": "my_origin_1572420965460",
                                "directConnection": "noDirect"
                              }
                            ],
                            "hostnames": [
                              "testcustomer1572420596536.g.qtlcdn.com"
                            ]
                          }
                        }
                      },
                      "x-tags": [
                        "Property Management"
                      ],
                      "properties": {
                        "description": {
                          "type": "string",
                          "description": "A description of the version.\n"
                        },
                        "cacheKeyHostname": {
                          "type": "string",
                          "description": "The cachekey hostname must be a string made of lowercase letters, digits, dot, dash, and underscore. If not specified, the incoming Host header value will be used and the cache will not be shared across different hostnames in this property.\n",
                          "maxLength": 80,
                          "pattern": "^[a-z.-_]+"
                        },
                        "hostnames": {
                          "type": "array",
                          "description": "Hostnames associated with the property. A valid value is a fully qualified hostname such as www.domain.com or a wildcard hostname such as *.domain.com. Any given hostname can only be in one deployed property at a particular time. However, a wildcard hostname is permitted to overlap other hostnames you own.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "realTimeLog": {
                          "type": "object",
                          "description": "This optional field allows you to configure notifications about client requests to be sent to a remote server. It can be used only if you have access to our <i>realtime_log_switch</i> directive. Please contact our support team if you require this feature.",
                          "properties": {
                            "logUrl": {
                              "type": "string",
                              "description": "The URL that receives the notifications. It must begin with “http” or \"https\". The server should support the POST method. This is a required field."
                            },
                            "sampleRate": {
                              "type": "integer",
                              "default": 1,
                              "minimum": 1,
                              "maximum": 65536,
                              "description": "An integer between [1, 65536]. n means one notification for every n edge requests. 1 means every edge request will generate a notification. This is optional. Default is 1."
                            },
                            "escape": {
                              "type": "string",
                              "enum": [
                                "json",
                                "none"
                              ],
                              "description": "Specify <i>json</i> to enable JSON character escaping in variables or <i>none</i> to disable escaping."
                            },
                            "format": {
                              "type": "string",
                              "description": "This is a required field to specify the notification body to be sent to the remote server. It can be any printable text that can be sent in the body of an HTTP POST request. \n\nThe following built-in variables can be used within the format field. They will be replaced with the actual values in the notifications.\n<table>\n<tr><th>Name</th><th>Description</th></tr>\n<tr><td>$body_bytes_sent</td><td>Size of the response body.</td></tr>\n<tr><td>$bytes_sent</td><td>Size of the response, including body, headers and response line.</td></tr>\n<tr><td>$client_country_code</td><td>An ISO 3166-1 country code representing the country of the client request, for example, \"US\". \"ZZ\" is returned if the country is unknown.</td></tr>\n<tr><td>$client_real_ip</td><td>IP address of the client request.</td></tr>\n<tr><td>$cookie_x</td><td>This lets you obtain any cookie named x.  For example, $cookie_account would retrieve the value of a cookie named 'account'.</td></tr>\n<tr><td>$http_x</td><td>Obtain any HTTP header named x from the original request. The header name is converted to lower case with dashes replaced by underscores. For example, specify $http_user_agent to get the value of User-Agent.</td></tr>\n<tr><td>$msec</td><td>Current unix time in seconds with millisecond precision.</td></tr>\n<tr><td>$qtl_req_id</td><td>Unique identifier representing the request.</td></tr>\n<tr><td>$request_uri</td><td>HTTP request URI</td></tr>\n<tr><td>$request_method</td><td>The HTTP request method used to access the origin.</td></tr>\n<tr><td>$request_time</td><td>Response time in milliseconds. It is the time between receiving the request's  first byte and serving the last byte of the response.</td></tr>\n<tr><td>$sc_completed</td><td>1 to indicate the last byte of the object was served to the user, 0 otherwise.\n</td></tr>\n<tr><td>$sc_initial</td><td>1 to indicate the first byte of the object was served to the user, 0 otherwise.</td></tr>\n<tr><td>$scheme</td><td>Indicates the protocol of the user's request (\"http\" or https\").</td></tr>\n<tr><td>$sent_http_content_length</td><td>the original file size.</td></tr>\n<tr><td>$sent_http_x</td><td>Obtain the value of an HTTP header named x that is returned in the response to the client. The header name should be converted to lower case with dashes replaced by underscores. For example, $sent_http_etag would give you the value of the ETag header.</td></tr>\n<tr><td>$server_addr</td><td>IP address of the edge node serving the user's request.</td></tr>\n<tr><td>$server_protocol</td><td>Indicates the version of HTTP used in the user's request, either \"HTTP/1.0\", \"HTTP/1.1\", or \"HTTP/2.0\".</td></tr>\n<tr><td>$ssl_cipher</td><td>Indicates the cipher suite used for the TLS (SSL) connection.</td></tr>\n<tr><td>$ssl_server_name</td><td>The hostname that a client initiating a TLS (SSL) connection is attempting to connect to. It is only sent by clients supporting SNI (Server Name Indication).</td></tr>\n<tr><td>$ssl_protocol</td><td>Indicates the TLS version used for the TLS (SSL) connection. Example versions include \"SSLv3\", \"TLSv1\", \"TLSv1.1\", \"TLSv1.2\", and \"unknown\".</td></tr>\n<tr><td>$status</td><td>An HTTP response code for the user's request.</td></tr>\n<tr><td>$tcpinfo_rtt</td><td>The time in microseconds taken by a packet to travel to the destination and back.</td></tr>\n</table>"
                            },
                            "headers": {
                              "type": "array",
                              "description": "HTTP header names and values to be sent to the notification server. A header name can contain any alphanumeric character or hyphen, \"-\". A header value can contain any printable characters. It can also include any of the built-in variables supported in the <i>format</i> field of the realTimeLog object.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Name of an HTTP header."
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "Value of an HTTP header."
                                  }
                                }
                              }
                            }
                          },
                          "required": [
                            "logUrl"
                          ]
                        },
                        "edgeLogic": {
                          "type": "string",
                          "maxLength": 200000,
                          "description": "Refer to <a href=\"/cdn/docs/edge-logic/intro\">Edge Logic Introduction</a>."
                        },
                        "hasBeian": {
                          "type": "boolean",
                          "default": false,
                          "description": "The value indicates whether all the hostnames in this property have Beian license on file with the Chinese government. This is required to serve this property from servers in mainland China. A value of <i>false</i> means servers outside of mainland China will be used to distribute content to visitors in China. If set to <i>true</i> you must also specify the content type in the <i>beianContentType</i> field."
                        },
                        "redirectHttpToHttps": {
                          "type": [
                            "boolean",
                            "string"
                          ],
                          "default": false,
                          "description": "This field can be set to either a boolean value or a string. When the value is set to <i>true</i>, the server will redirect all HTTP requests to HTTPS using status code 301. You can also specify string values \"302\", \"307\", or \"308\" instead if you wish to return a different status code when a request is redirected."
                        },
                        "origins": {
                          "type": "array",
                          "description": "Describes the origin servers for the property's content.",
                          "items": {
                            "type": "object",
                            "description": "Describes an origin server.",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of an origin. It must be unique within this property.\n",
                                "pattern": "^[a-zA-z0-9_]"
                              },
                              "servers": {
                                "type": "array",
                                "description": "Each entry should be a string consisting of an address optionally followed by one or more parameters, separated by space characters. The address can take one of the following three forms:\n<ul>\n<li>{hostname or IP address}</li>\n<li>{hostname or IP address}:{http port}</li>\n<li>{hostname or IP address}:{http port},{https port}</li>\n</ul>\nValues for the HTTP and HTTPS ports should be integers in the range [1,65535]. \nEven when the value of <i>supportedProtocol</i> is “https”, the HTTPS port has to be specified after the comma.\nIn the third form, one of the two ports can be empty.\n\nSupported parameters are \"backup\" and \"weight\".\n\n\"backup\" is used to indicate the server is a backup server. It will be used when the primary servers are unavailable.\n\n\"weight\" is a value in the range [1, 100]. The default value is 1. It lets you control the likelihood that one origin server will be used relative to another.\n\nThere should be at least one primary server defined; it does not have the \"backup\" parameter.\n\nExample:\n<code>[\"www.abc.com weight=1\", \"www1.abc.com:8080 weight=4\", \"www2.abc.com:880,4443 backup\"]</code>\n\nThis example specifies two primary servers which are used in a 1:4 ratio meaning one gets about 20% of the requests to origin while the other gets 80% of the requests. In addition, a backup server is specified.\n",
                                "example": "[“www.abc.com”, “www1.abc.com:8080”, “www2.abc.com:880,4443 backup”]",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "supportedProtocol": {
                                "type": "string",
                                "description": "This optional field indicates the protocol supported by the origin server. If this property has a certificate attached to it, the value can be set to <i>http</i> if the <i>allowProtocolDowngrade</i> field is also set to <i>true</i>.",
                                "enum": [
                                  "http",
                                  "https",
                                  "both"
                                ]
                              },
                              "directConnection": {
                                "type": "string",
                                "default": "auto",
                                "description": "Optional. This parameter tells us how important it is to directly go to this origin without going through any intermediate cache to fetch content. The values can be “noDirect”, “auto”, “alwaysDirect”. \n\n“noDirect” means we always go through at least one intermediate cache. Customers who care particularly about the origin's workload can use this option. Our cache scheduler will dynamically pick the intermediate cache based on performance and resource availability.\n\n“auto” means the cache scheduler will make the choice dynamically based on performance and resource availability. This is the default behavior if not specified.\n\n“alwaysDirect” means we always directly connect to this origin.\n"
                              },
                              "hostHeader": {
                                "type": "string",
                                "description": "Optional. It should be a valid hostname. It will also be used as the SNI servername when contacting the HTTPS origin. We also allow it to be an nginx variable that begins with ‘$’ followed by [a-z_]{3,60}. Nginx variable names are case insensitive, so we only allow lowercase characters.\nIf not specified, the value of the HOST header in the request will be used. \n\nOne constraint is that if “aswS3” is specified for origin authentication, the value of <i>hostHeader</i> cannot be a variable or empty. It has to be a valid Amazon S3 hostname. Refer to https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html",
                                "format": "hostname"
                              },
                              "verifyOrigin": {
                                "type": "boolean",
                                "default": false,
                                "description": "Optional. It controls whether the cache will validate the certificate of the origin."
                              },
                              "authentication": {
                                "type": "object",
                                "description": "Optional. It is a structure to specify the parameters, such as password, for authentication with the origin servers. It should have at least one field: ”methodName”, which should be a string indicating one of the predefined authentication methods. The only valid value at this time is “awsS3”. When “awsS3” is used, the following parameters are required:\n<ul>\n<li>awsS3.region</li>\n<li>awsS3.accessKey</li>\n<li>awsS3.secretKey</li>\n</ul>\nAlso, the value of the <i>hostHeader</i> field cannot be a variable or empty. It must be a valid Amazon S3 hostname.\n\nExample:\n<code>\n{\"methodName\":\"awsS3\",\n\"awsS3\":{\n\"region\":\"us-west-1\",\n\"accessKey\":\"sdnu2932\",\n\"secretKey\":\"d12345678abcdefghi\"\n}}\n</code>",
                                "example": "{“methodName”:”awsS3”, ”awsS3”:{ ”region”:”us-west-1”, ”accessKey”:”sdnu2932”, ”secretKey”:”d12133424fvregvrew” }}",
                                "properties": {
                                  "methodName": {
                                    "type": "string",
                                    "description": "Authentication method."
                                  }
                                }
                              },
                              "keepAliveTimeout": {
                                "type": "integer",
                                "default": 60,
                                "description": "Timeout in seconds during which an idle keepalive connection to an upstream server will stay open. A service quota setting of <i>maxUpstreamKeepaliveTimeOut</i> can change the maximum permitted value.",
                                "minimum": 5,
                                "maximum": 600
                              }
                            }
                          }
                        },
                        "syntaxVersion": {
                          "type": "number",
                          "default": 1,
                          "description": "The value must be set to 1 at this time."
                        },
                        "disableHttp2": {
                          "type": "boolean",
                          "default": "false",
                          "description": "Set to <i>true</i> to disable support for HTTP/2 and only support HTTP 1.1."
                        },
                        "schemeInCacheKey": {
                          "type": "boolean",
                          "default": false,
                          "description": "Specifies whether the scheme (“http” or “https”) should be included in the cache key. Default behavior is </i>false</i>. Set to <i>true</i> if the content is known to be different for different schemes.\n"
                        },
                        "tlsMaxVersion": {
                          "type": "string",
                          "default": 1.3,
                          "enum": [
                            "1.1",
                            "1.2",
                            "1.3"
                          ],
                          "description": "Maximum supported TLS version."
                        },
                        "loadBalancerHashKey": {
                          "type": "string",
                          "description": "Multiple tiers of load balancing are used in our CDN pops to distribute the client requests to different servers. We are using consistent hashing in many of those places. By default, the URL is used as the hash key, which should be good enough in most cases. Here you can define additional variables to be added to the hash key to distribute the requests more evenly. One typical use case is when all requests carry the same URL, but use a particular header to indicate the resources. \n\nThis is an optional field. The default value is an empty string. A valid value is a string meeting the following criteria:\n<ol>\n<li>Consists of alphanumeric characters, underscore _, equal sign =, dollar sign $, and ampersand sign &.</li>\n<li>The variable names can only be in one of the following formats: $http_name, $cookie_name, or $arg_name.</li>\n<li>At least one variable must be specified. No more than three are permitted.</li>\n<li>The total length should be no more than 100 characters.</li>\n</ol>\nThe validator will treat any dollar sign and the string after it (before any = or & or $) as a variable. \n\nHere are some examples of valid values:\n<table>\n<tr><td>$http_abc</td></tr>\n<tr><td>abc=$http_abc&def=$http_def&c_123=$cookie_123</td></tr>\n<tr><td>abc=$http_abc=$http_def</td></tr>\n<tr><td>$http_abc&$http_def</td></tr>\n<tr><td>=$http_abd&</td></tr>\n<tr><td>&&abc==$http_abc&&&===qwer</td></tr>\n</table>\n",
                          "maxLength": 100
                        },
                        "tlsCertificateId": {
                          "type": "number",
                          "description": "Refers to a <a href=\"#tag/Certificate-Management\">certificate</a>. It is invalid to only set the <i>tlsCertificateId1</i> field without setting the <i>tlsCertificateId</i> field. If <i>tlsCertificateId</i> is not set, HTTPS will not be enabled for this property. This is a feature to enable you to specify two certificates of different types, i.e. one RSA, one EC. If two certificates of the same type are specified, the one specified by <i>tlsCertificateId</i> will be ignored. "
                        },
                        "tlsMinVersion": {
                          "type": "string",
                          "default": 1,
                          "description": "Minimum required TLS version.",
                          "enum": [
                            "1.1",
                            "1.2",
                            "1.3",
                            "1"
                          ]
                        },
                        "tlsCiphers": {
                          "type": "string",
                          "description": "Any cipher list supported by \"openssl ciphers\". See https://www.openssl.org/docs/manmaster/man1/ciphers.html\n",
                          "maxLength": 2040
                        },
                        "allowProtocolDowngrade": {
                          "type": "boolean",
                          "default": false,
                          "description": "This setting only applies when the property has an attached certificate allowing client requests to use HTTPS. When the value of allowProtocolDowngrade is <i>false</i>, we require all the origin servers to support HTTPS. When the value is <i>true</i>, we allow origins that only support HTTP; this setting reduces security.\n"
                        },
                        "tlsCertificateId1": {
                          "type": "number",
                          "description": "Refers to a <a href=\"#tag/Certificate-Management\">certificate</a>. It is invalid to only set the <i>tlsCertificateId1</i> field without setting the <i>tlsCertificateId</i> field. If <i>tlsCertificateId</i> is not set, HTTPS will not be enabled for this property. This is a feature to enable you to specify two certificates of different types, i.e. one RSA, one EC. If two certificates of the same type are specified, the one specified by <i>tlsCertificateId</i> will be ignored. \n\n"
                        },
                        "videoSeek": {
                          "type": "object",
                          "description": "This object allows you to support video players requesting partial content through query string parameters. If you specify <i>videoSeek</i>, you must enter a value for <i>startParameter</i>.",
                          "properties": {
                            "startParameter": {
                              "type": "string",
                              "description": "Name of the query parameter indicating the starting offset in bytes of the content to fetch. The parameter name should begin with a letter (a-z, a-Z) and may be followed by up to 30 letters and numbers.",
                              "minLength": 1,
                              "maxLength": 31
                            },
                            "endParameter": {
                              "type": "string",
                              "description": "Name of the query parameter indicating the ending offset of the content to fetch. The parameter name should begin with a letter (a-z, a-Z) and may be followed by up to 30 letters and numbers.",
                              "minLength": 0,
                              "maxLength": 31
                            }
                          },
                          "required": [
                            "startParameter"
                          ]
                        },
                        "tlsSessionTimeout": {
                          "type": "integer",
                          "minimum": 300,
                          "maximum": 86400,
                          "default": 1800,
                          "description": "Lifespan of TLS session ticket in seconds."
                        },
                        "enableOcspStapling": {
                          "type": "boolean",
                          "default": false,
                          "description": "Enables Online Certificate Status Protocol (OCSP) stapling to check the revocation status of digital certificates. (Refer to https://en.wikipedia.org/wiki/OCSP_stapling)"
                        },
                        "beianContentType": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 24,
                          "description": "If you are planning to distribute content through servers in mainland China, you will need to set the <i>hasBeian</i> field to <i>true</i> and also indicate the type of content you are distributing. Enter the value that best corresponds to your content:\n\n<table>\n<tr><th>Value</th><th>Content Type</th></tr>\n<tr><td>1</td><td>Instant Messaging</td></tr>\n<tr><td>2</td><td>Search Engine</td></tr>\n<tr><td>3</td><td>Web Portal</td></tr>\n<tr><td>4</td><td>Online Postal Service</td></tr>\n<tr><td>5</td><td>Online News</td></tr>\n<tr><td>6</td><td>Blog</td></tr>\n<tr><td>7</td><td>Advertisement</td></tr>\n<tr><td>8</td><td>Organization Web Portal</td></tr>\n<tr><td>9</td><td>Shopping</td></tr>\n<tr><td>10</td><td>Online Payment</td></tr>\n<tr><td>11</td><td>Online Bank</td></tr>\n<tr><td>12</td><td>Online Stock Market</td></tr>\n<tr><td>13</td><td>Online Gaming</td></tr>\n<tr><td>14</td><td>Online Music</td></tr>\n<tr><td>15</td><td>Online Movie</td></tr>\n<tr><td>16</td><td>Online Picture</td></tr>\n<tr><td>17</td><td>Software Download</td></tr>\n<tr><td>18</td><td>Job Hunting</td></tr>\n<tr><td>19</td><td>Online Dating</td></tr>\n<tr><td>20</td><td>Online Real Property</td></tr>\n<tr><td>21</td><td>Online Education</td></tr>\n<tr><td>22</td><td>Web Design</td></tr>\n<tr><td>23</td><td>WAP</td></tr>\n<tr><td>24</td><td>Others</td></tr>\n</table>"
                        },
                        "accessControlRules": {
                          "type": "array",
                          "description": "Specify one or more access control rules to restrict access to your content. More advanced configuration can be done using edge logic. These access control rules take precedence over edge logic if both are defined.",
                          "items": {
                            "title": "accessControlRule",
                            "type": "object",
                            "description": "This object defines a rule that can be used to restrict access to your content. More complex rules can be created using CDN360's Edge Logic.",
                            "properties": {
                              "id": {
                                "type": "string",
                                "maxLength": 60,
                                "minLength": 0,
                                "description": "An optional ID for the access control rule."
                              },
                              "conditions": {
                                "type": "object",
                                "description": "Specify the conditions that the incoming request must match. At least one condition must be specified. If multiple are specified, all must match.",
                                "properties": {
                                  "scheme": {
                                    "type": "string",
                                    "enum": [
                                      "https",
                                      "http"
                                    ],
                                    "description": "Indicates whether the incoming request uses HTTP or HTTPS."
                                  },
                                  "hostname": {
                                    "type": "string",
                                    "description": "Indicates the hostname requested. It must be one of the hostnames defined in the property."
                                  },
                                  "uri": {
                                    "type": "string",
                                    "description": "The URI begins with \"/ and can end with \"*\" for prefix matching. ",
                                    "maxLength": 500
                                  },
                                  "serverRegions": {
                                    "type": "array",
                                    "description": "An array of <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 alpha-2 codes</a> indicating the countries of the servers, for example, \"US\" to represent \"United States of America\".",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "clientRegions": {
                                    "type": "array",
                                    "description": "An array of <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 alpha-2 codes</a> indicating one or more countries which are the source of the client requests, for example, \"CN\" to represent \"China\".",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "clientIpRange": {
                                    "type": "array",
                                    "description": "Indicates the starting and ending IP addresses of the client requests to match against. They must be in IPv4 or IPv6 format.",
                                    "items": {
                                      "type": "string",
                                      "maxLength": 2
                                    }
                                  }
                                }
                              },
                              "action": {
                                "type": "object",
                                "description": "Indicates the action to take in response to a request that matches the conditions of the access control rule.",
                                "required": [
                                  "status"
                                ],
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "description": "Indicates the HTTP status code to respond with. It must be in the range 300-309, 400-409, or 500-509 to indicate a redirection or error."
                                  },
                                  "message": {
                                    "type": "string",
                                    "maxLength": 200,
                                    "description": "If the value of the <i>status</i> field is in the range 300-309, the <i>message</i> field's value will be placed in a Location HTTP header returned to the client. If the <i>status</i> is in the range 400-409 or 500-509, the value will be returned in the response body to the client."
                                  }
                                }
                              }
                            },
                            "required": [
                              "conditions",
                              "action"
                            ]
                          }
                        },
                        "disableCertAutomation": {
                          "type": "boolean",
                          "description": "By default, CDN360 takes control of the contents under the /.well-known/{acme-challenge, pki-validation} directories to support certificate auto-renew for properties. If for any reason you need to manage these two directories by yourself on the origin, for example, to implement your own certificate auto-renew mechanism, you can use this configuration option to disable the default behavior by setting its value to <i>true</i>. For more information about our support for certificate auto-renewal, refer to the description of the <i>autoRenew</i> field in the <a href=\"#operation/createCertificate\">Create a certificate API</a>.",
                          "default": "false"
                        },
                        "cacheKeyUri": {
                          "type": "string",
                          "enum": [
                            "preRewrite",
                            "postRewrite"
                          ],
                          "default": "preRewrite",
                          "description": "This setting controls how the URI of the incoming request is incorporated into the cache key if you use a \"rewrite\" directive in the property's edge logic. The default value, \"preRewrite\", puts the unmodified URI into the cache key while \"postRewrite\" uses the modified URI. If your rewrite directive converts multiple different URIs into the same value, using \"postRewrite\" may result in a higher cache hit ratio."
                        },
                        "extraServicePorts": {
                          "type": "object",
                          "description": "This field lists ports other than the default 80 used to handle HTTP requests and ports other than the default 443 used to handle HTTPS requests. ",
                          "properties": {
                            "http": {
                              "type": "array",
                              "description": "This is a list of ports other than 80 which are used to handle HTTP requests. The available values can be found in the <a href=\"#operation/get-cdn-systemConfigs\">systemConfigs</a> API's response. If you need another port, please contact our support team.",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 65535
                              }
                            },
                            "https": {
                              "type": "array",
                              "description": "This is a list of ports other than 443 which are used to handle HTTPS requests. The available values can be found in the <a href=\"#operation/get-cdn-systemConfigs\">systemConfigs</a> API's response. If you need another port, please contact our support team.",
                              "items": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 65535
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "lastValidationStatus": {
                          "type": "string"
                        },
                        "frozen": {
                          "type": "string"
                        },
                        "creationTime": {
                          "type": "string"
                        },
                        "lastUpdateTime": {
                          "type": "string"
                        },
                        "inProduction": {
                          "type": "boolean"
                        },
                        "inStaging": {
                          "type": "boolean"
                        }
                      }
                    }
                  },
                  "x-tags": [
                    "Property Management"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "version": 1,
                      "configs": {
                        "description": "validPropertyVersionAllFields_PropertySteps",
                        "cacheKeyHostname": "testdomain-t1572403678265.mydomain.info",
                        "tlsCertificateId": "b0b3f432ccbaafb5693ce13d",
                        "tlsMinVersion": "1.1",
                        "tlsMaxVersion": "1.2",
                        "tlsCiphers": "ALL:-MD5",
                        "syntaxVersion": "1",
                        "hasBeian": false,
                        "schemeInCacheKey": false,
                        "requestHandlers": {
                          "preprocess": {},
                          "prehtlookup": {},
                          "posthtlookup": {},
                          "origins": {},
                          "mod4origin": {},
                          "cachetime": {},
                          "mod4client": {},
                          "responseDone": {}
                        },
                        "hostnames": [
                          "testdomain-t1572403678233.mydomain.info",
                          "testdomain-t1572403678265.mydomain.info"
                        ],
                        "origins": [
                          {
                            "name": "my_origin_1572403678233",
                            "supportedProtocol": "both",
                            "hostHeader": "autohostheader.com",
                            "directConnection": "alwaysDirect",
                            "servers": [
                              "mydomain.info"
                            ]
                          }
                        ],
                        "loadBalancerHashKey": "$http_hashvalue",
                        "edgeLogic": "location / {origin_pass my_origin_1572403678233;} return 200;",
                        "allowProtocolDowngrade": false
                      },
                      "status": {
                        "lastValidationStatus": "NotValidated",
                        "frozen": false,
                        "creationTime": "2019-10-30T02:47:59Z",
                        "lastUpdateTime": "2019-10-30T02:47:59Z",
                        "inProduction": false,
                        "inStaging": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid. Refer to the response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid version": {
                    "value": {
                      "code": "InvalidVersion",
                      "message": "The version number must be a positive integer or \"latest\"."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid property.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid property ID": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Query a property version",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer."
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "propertyID",
          "in": "path",
          "required": true,
          "description": "ID of a property."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "version",
          "in": "path",
          "required": true,
          "description": "A property version. It must be an integer value >=1 or the word \"latest\", in which case the most recent version is returned."
        }
      ],
      "patch": {
        "summary": "Update a property version",
        "responses": {
          "204": {
            "description": "Indicates the property version was successfully updated."
          },
          "400": {
            "description": "The request was invalid. Refer to the response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Frozen property version": {
                    "value": {
                      "code": "FrozenPropertyVersion",
                      "message": "The property version cannot be updated because it is currently deployed to staging or production."
                    }
                  },
                  "Invalid version": {
                    "value": {
                      "code": "InvalidVersion",
                      "message": "The version number must be a positive integer."
                    }
                  },
                  "Invalid redirect HTTP to HTTPS": {
                    "value": {
                      "code": "InvalidRedirectHttpToHttps",
                      "message": "The allowed values for redirectHttpToHttps are true, false, 302, 307 and 308."
                    }
                  },
                  "OriginHostnameConflict": {
                    "value": {
                      "code": "OriginHostnameConflict",
                      "message": "At least one of the hostnames is equal to an origin's server name."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The property could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This API lets you update a property version. Please note that a property that has already been deployed to production or staging is 'frozen' and cannot be updated or validated again. The only exception is that the version description can be updated.",
        "operationId": "updatePropertyVersion",
        "tags": [
          "Property Management"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "propertyConfiguration",
                "type": "object",
                "description": "Describes a property configuration. This contains all the settings.",
                "x-examples": {
                  "example-1": {
                    "value": {
                      "syntaxVersion": 1,
                      "edgeLogic": "location / {origin_pass my_origin_1572420965460;}",
                      "tlsMaxVersion": "1.2",
                      "tlsMinVersion": "1.1",
                      "tlsCertificateId": "8961b13c87cd30a7687edc8c",
                      "origins": [
                        {
                          "hostHeader": "testcustomer.g.qtlcdn.com",
                          "servers": [
                            "edgetools.theoriginserver.com"
                          ],
                          "name": "my_origin_1572420965460",
                          "directConnection": "noDirect"
                        }
                      ],
                      "hostnames": [
                        "testcustomer1572420596536.g.qtlcdn.com"
                      ]
                    }
                  }
                },
                "x-tags": [
                  "Property Management"
                ],
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "A description of the version.\n"
                  },
                  "cacheKeyHostname": {
                    "type": "string",
                    "description": "The cachekey hostname must be a string made of lowercase letters, digits, dot, dash, and underscore. If not specified, the incoming Host header value will be used and the cache will not be shared across different hostnames in this property.\n",
                    "maxLength": 80,
                    "pattern": "^[a-z.-_]+"
                  },
                  "hostnames": {
                    "type": "array",
                    "description": "Hostnames associated with the property. A valid value is a fully qualified hostname such as www.domain.com or a wildcard hostname such as *.domain.com. Any given hostname can only be in one deployed property at a particular time. However, a wildcard hostname is permitted to overlap other hostnames you own.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "realTimeLog": {
                    "type": "object",
                    "description": "This optional field allows you to configure notifications about client requests to be sent to a remote server. It can be used only if you have access to our <i>realtime_log_switch</i> directive. Please contact our support team if you require this feature.",
                    "properties": {
                      "logUrl": {
                        "type": "string",
                        "description": "The URL that receives the notifications. It must begin with “http” or \"https\". The server should support the POST method. This is a required field."
                      },
                      "sampleRate": {
                        "type": "integer",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 65536,
                        "description": "An integer between [1, 65536]. n means one notification for every n edge requests. 1 means every edge request will generate a notification. This is optional. Default is 1."
                      },
                      "escape": {
                        "type": "string",
                        "enum": [
                          "json",
                          "none"
                        ],
                        "description": "Specify <i>json</i> to enable JSON character escaping in variables or <i>none</i> to disable escaping."
                      },
                      "format": {
                        "type": "string",
                        "description": "This is a required field to specify the notification body to be sent to the remote server. It can be any printable text that can be sent in the body of an HTTP POST request. \n\nThe following built-in variables can be used within the format field. They will be replaced with the actual values in the notifications.\n<table>\n<tr><th>Name</th><th>Description</th></tr>\n<tr><td>$body_bytes_sent</td><td>Size of the response body.</td></tr>\n<tr><td>$bytes_sent</td><td>Size of the response, including body, headers and response line.</td></tr>\n<tr><td>$client_country_code</td><td>An ISO 3166-1 country code representing the country of the client request, for example, \"US\". \"ZZ\" is returned if the country is unknown.</td></tr>\n<tr><td>$client_real_ip</td><td>IP address of the client request.</td></tr>\n<tr><td>$cookie_x</td><td>This lets you obtain any cookie named x.  For example, $cookie_account would retrieve the value of a cookie named 'account'.</td></tr>\n<tr><td>$http_x</td><td>Obtain any HTTP header named x from the original request. The header name is converted to lower case with dashes replaced by underscores. For example, specify $http_user_agent to get the value of User-Agent.</td></tr>\n<tr><td>$msec</td><td>Current unix time in seconds with millisecond precision.</td></tr>\n<tr><td>$qtl_req_id</td><td>Unique identifier representing the request.</td></tr>\n<tr><td>$request_uri</td><td>HTTP request URI</td></tr>\n<tr><td>$request_method</td><td>The HTTP request method used to access the origin.</td></tr>\n<tr><td>$request_time</td><td>Response time in milliseconds. It is the time between receiving the request's  first byte and serving the last byte of the response.</td></tr>\n<tr><td>$sc_completed</td><td>1 to indicate the last byte of the object was served to the user, 0 otherwise.\n</td></tr>\n<tr><td>$sc_initial</td><td>1 to indicate the first byte of the object was served to the user, 0 otherwise.</td></tr>\n<tr><td>$scheme</td><td>Indicates the protocol of the user's request (\"http\" or https\").</td></tr>\n<tr><td>$sent_http_content_length</td><td>the original file size.</td></tr>\n<tr><td>$sent_http_x</td><td>Obtain the value of an HTTP header named x that is returned in the response to the client. The header name should be converted to lower case with dashes replaced by underscores. For example, $sent_http_etag would give you the value of the ETag header.</td></tr>\n<tr><td>$server_addr</td><td>IP address of the edge node serving the user's request.</td></tr>\n<tr><td>$server_protocol</td><td>Indicates the version of HTTP used in the user's request, either \"HTTP/1.0\", \"HTTP/1.1\", or \"HTTP/2.0\".</td></tr>\n<tr><td>$ssl_cipher</td><td>Indicates the cipher suite used for the TLS (SSL) connection.</td></tr>\n<tr><td>$ssl_server_name</td><td>The hostname that a client initiating a TLS (SSL) connection is attempting to connect to. It is only sent by clients supporting SNI (Server Name Indication).</td></tr>\n<tr><td>$ssl_protocol</td><td>Indicates the TLS version used for the TLS (SSL) connection. Example versions include \"SSLv3\", \"TLSv1\", \"TLSv1.1\", \"TLSv1.2\", and \"unknown\".</td></tr>\n<tr><td>$status</td><td>An HTTP response code for the user's request.</td></tr>\n<tr><td>$tcpinfo_rtt</td><td>The time in microseconds taken by a packet to travel to the destination and back.</td></tr>\n</table>"
                      },
                      "headers": {
                        "type": "array",
                        "description": "HTTP header names and values to be sent to the notification server. A header name can contain any alphanumeric character or hyphen, \"-\". A header value can contain any printable characters. It can also include any of the built-in variables supported in the <i>format</i> field of the realTimeLog object.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of an HTTP header."
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of an HTTP header."
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "logUrl"
                    ]
                  },
                  "edgeLogic": {
                    "type": "string",
                    "maxLength": 200000,
                    "description": "Refer to <a href=\"/cdn/docs/edge-logic/intro\">Edge Logic Introduction</a>."
                  },
                  "hasBeian": {
                    "type": "boolean",
                    "default": false,
                    "description": "The value indicates whether all the hostnames in this property have Beian license on file with the Chinese government. This is required to serve this property from servers in mainland China. A value of <i>false</i> means servers outside of mainland China will be used to distribute content to visitors in China. If set to <i>true</i> you must also specify the content type in the <i>beianContentType</i> field."
                  },
                  "redirectHttpToHttps": {
                    "type": [
                      "boolean",
                      "string"
                    ],
                    "default": false,
                    "description": "This field can be set to either a boolean value or a string. When the value is set to <i>true</i>, the server will redirect all HTTP requests to HTTPS using status code 301. You can also specify string values \"302\", \"307\", or \"308\" instead if you wish to return a different status code when a request is redirected."
                  },
                  "origins": {
                    "type": "array",
                    "description": "Describes the origin servers for the property's content.",
                    "items": {
                      "type": "object",
                      "description": "Describes an origin server.",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of an origin. It must be unique within this property.\n",
                          "pattern": "^[a-zA-z0-9_]"
                        },
                        "servers": {
                          "type": "array",
                          "description": "Each entry should be a string consisting of an address optionally followed by one or more parameters, separated by space characters. The address can take one of the following three forms:\n<ul>\n<li>{hostname or IP address}</li>\n<li>{hostname or IP address}:{http port}</li>\n<li>{hostname or IP address}:{http port},{https port}</li>\n</ul>\nValues for the HTTP and HTTPS ports should be integers in the range [1,65535]. \nEven when the value of <i>supportedProtocol</i> is “https”, the HTTPS port has to be specified after the comma.\nIn the third form, one of the two ports can be empty.\n\nSupported parameters are \"backup\" and \"weight\".\n\n\"backup\" is used to indicate the server is a backup server. It will be used when the primary servers are unavailable.\n\n\"weight\" is a value in the range [1, 100]. The default value is 1. It lets you control the likelihood that one origin server will be used relative to another.\n\nThere should be at least one primary server defined; it does not have the \"backup\" parameter.\n\nExample:\n<code>[\"www.abc.com weight=1\", \"www1.abc.com:8080 weight=4\", \"www2.abc.com:880,4443 backup\"]</code>\n\nThis example specifies two primary servers which are used in a 1:4 ratio meaning one gets about 20% of the requests to origin while the other gets 80% of the requests. In addition, a backup server is specified.\n",
                          "example": "[“www.abc.com”, “www1.abc.com:8080”, “www2.abc.com:880,4443 backup”]",
                          "items": {
                            "type": "string"
                          }
                        },
                        "supportedProtocol": {
                          "type": "string",
                          "description": "This optional field indicates the protocol supported by the origin server. If this property has a certificate attached to it, the value can be set to <i>http</i> if the <i>allowProtocolDowngrade</i> field is also set to <i>true</i>.",
                          "enum": [
                            "http",
                            "https",
                            "both"
                          ]
                        },
                        "directConnection": {
                          "type": "string",
                          "default": "auto",
                          "description": "Optional. This parameter tells us how important it is to directly go to this origin without going through any intermediate cache to fetch content. The values can be “noDirect”, “auto”, “alwaysDirect”. \n\n“noDirect” means we always go through at least one intermediate cache. Customers who care particularly about the origin's workload can use this option. Our cache scheduler will dynamically pick the intermediate cache based on performance and resource availability.\n\n“auto” means the cache scheduler will make the choice dynamically based on performance and resource availability. This is the default behavior if not specified.\n\n“alwaysDirect” means we always directly connect to this origin.\n"
                        },
                        "hostHeader": {
                          "type": "string",
                          "description": "Optional. It should be a valid hostname. It will also be used as the SNI servername when contacting the HTTPS origin. We also allow it to be an nginx variable that begins with ‘$’ followed by [a-z_]{3,60}. Nginx variable names are case insensitive, so we only allow lowercase characters.\nIf not specified, the value of the HOST header in the request will be used. \n\nOne constraint is that if “aswS3” is specified for origin authentication, the value of <i>hostHeader</i> cannot be a variable or empty. It has to be a valid Amazon S3 hostname. Refer to https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html",
                          "format": "hostname"
                        },
                        "verifyOrigin": {
                          "type": "boolean",
                          "default": false,
                          "description": "Optional. It controls whether the cache will validate the certificate of the origin."
                        },
                        "authentication": {
                          "type": "object",
                          "description": "Optional. It is a structure to specify the parameters, such as password, for authentication with the origin servers. It should have at least one field: ”methodName”, which should be a string indicating one of the predefined authentication methods. The only valid value at this time is “awsS3”. When “awsS3” is used, the following parameters are required:\n<ul>\n<li>awsS3.region</li>\n<li>awsS3.accessKey</li>\n<li>awsS3.secretKey</li>\n</ul>\nAlso, the value of the <i>hostHeader</i> field cannot be a variable or empty. It must be a valid Amazon S3 hostname.\n\nExample:\n<code>\n{\"methodName\":\"awsS3\",\n\"awsS3\":{\n\"region\":\"us-west-1\",\n\"accessKey\":\"sdnu2932\",\n\"secretKey\":\"d12345678abcdefghi\"\n}}\n</code>",
                          "example": "{“methodName”:”awsS3”, ”awsS3”:{ ”region”:”us-west-1”, ”accessKey”:”sdnu2932”, ”secretKey”:”d12133424fvregvrew” }}",
                          "properties": {
                            "methodName": {
                              "type": "string",
                              "description": "Authentication method."
                            }
                          }
                        },
                        "keepAliveTimeout": {
                          "type": "integer",
                          "default": 60,
                          "description": "Timeout in seconds during which an idle keepalive connection to an upstream server will stay open. A service quota setting of <i>maxUpstreamKeepaliveTimeOut</i> can change the maximum permitted value.",
                          "minimum": 5,
                          "maximum": 600
                        }
                      }
                    }
                  },
                  "syntaxVersion": {
                    "type": "number",
                    "default": 1,
                    "description": "The value must be set to 1 at this time."
                  },
                  "disableHttp2": {
                    "type": "boolean",
                    "default": "false",
                    "description": "Set to <i>true</i> to disable support for HTTP/2 and only support HTTP 1.1."
                  },
                  "schemeInCacheKey": {
                    "type": "boolean",
                    "default": false,
                    "description": "Specifies whether the scheme (“http” or “https”) should be included in the cache key. Default behavior is </i>false</i>. Set to <i>true</i> if the content is known to be different for different schemes.\n"
                  },
                  "tlsMaxVersion": {
                    "type": "string",
                    "default": 1.3,
                    "enum": [
                      "1.1",
                      "1.2",
                      "1.3"
                    ],
                    "description": "Maximum supported TLS version."
                  },
                  "loadBalancerHashKey": {
                    "type": "string",
                    "description": "Multiple tiers of load balancing are used in our CDN pops to distribute the client requests to different servers. We are using consistent hashing in many of those places. By default, the URL is used as the hash key, which should be good enough in most cases. Here you can define additional variables to be added to the hash key to distribute the requests more evenly. One typical use case is when all requests carry the same URL, but use a particular header to indicate the resources. \n\nThis is an optional field. The default value is an empty string. A valid value is a string meeting the following criteria:\n<ol>\n<li>Consists of alphanumeric characters, underscore _, equal sign =, dollar sign $, and ampersand sign &.</li>\n<li>The variable names can only be in one of the following formats: $http_name, $cookie_name, or $arg_name.</li>\n<li>At least one variable must be specified. No more than three are permitted.</li>\n<li>The total length should be no more than 100 characters.</li>\n</ol>\nThe validator will treat any dollar sign and the string after it (before any = or & or $) as a variable. \n\nHere are some examples of valid values:\n<table>\n<tr><td>$http_abc</td></tr>\n<tr><td>abc=$http_abc&def=$http_def&c_123=$cookie_123</td></tr>\n<tr><td>abc=$http_abc=$http_def</td></tr>\n<tr><td>$http_abc&$http_def</td></tr>\n<tr><td>=$http_abd&</td></tr>\n<tr><td>&&abc==$http_abc&&&===qwer</td></tr>\n</table>\n",
                    "maxLength": 100
                  },
                  "tlsCertificateId": {
                    "type": "number",
                    "description": "Refers to a <a href=\"#tag/Certificate-Management\">certificate</a>. It is invalid to only set the <i>tlsCertificateId1</i> field without setting the <i>tlsCertificateId</i> field. If <i>tlsCertificateId</i> is not set, HTTPS will not be enabled for this property. This is a feature to enable you to specify two certificates of different types, i.e. one RSA, one EC. If two certificates of the same type are specified, the one specified by <i>tlsCertificateId</i> will be ignored. "
                  },
                  "tlsMinVersion": {
                    "type": "string",
                    "default": 1,
                    "description": "Minimum required TLS version.",
                    "enum": [
                      "1.1",
                      "1.2",
                      "1.3",
                      "1"
                    ]
                  },
                  "tlsCiphers": {
                    "type": "string",
                    "description": "Any cipher list supported by \"openssl ciphers\". See https://www.openssl.org/docs/manmaster/man1/ciphers.html\n",
                    "maxLength": 2040
                  },
                  "allowProtocolDowngrade": {
                    "type": "boolean",
                    "default": false,
                    "description": "This setting only applies when the property has an attached certificate allowing client requests to use HTTPS. When the value of allowProtocolDowngrade is <i>false</i>, we require all the origin servers to support HTTPS. When the value is <i>true</i>, we allow origins that only support HTTP; this setting reduces security.\n"
                  },
                  "tlsCertificateId1": {
                    "type": "number",
                    "description": "Refers to a <a href=\"#tag/Certificate-Management\">certificate</a>. It is invalid to only set the <i>tlsCertificateId1</i> field without setting the <i>tlsCertificateId</i> field. If <i>tlsCertificateId</i> is not set, HTTPS will not be enabled for this property. This is a feature to enable you to specify two certificates of different types, i.e. one RSA, one EC. If two certificates of the same type are specified, the one specified by <i>tlsCertificateId</i> will be ignored. \n\n"
                  },
                  "videoSeek": {
                    "type": "object",
                    "description": "This object allows you to support video players requesting partial content through query string parameters. If you specify <i>videoSeek</i>, you must enter a value for <i>startParameter</i>.",
                    "properties": {
                      "startParameter": {
                        "type": "string",
                        "description": "Name of the query parameter indicating the starting offset in bytes of the content to fetch. The parameter name should begin with a letter (a-z, a-Z) and may be followed by up to 30 letters and numbers.",
                        "minLength": 1,
                        "maxLength": 31
                      },
                      "endParameter": {
                        "type": "string",
                        "description": "Name of the query parameter indicating the ending offset of the content to fetch. The parameter name should begin with a letter (a-z, a-Z) and may be followed by up to 30 letters and numbers.",
                        "minLength": 0,
                        "maxLength": 31
                      }
                    },
                    "required": [
                      "startParameter"
                    ]
                  },
                  "tlsSessionTimeout": {
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 86400,
                    "default": 1800,
                    "description": "Lifespan of TLS session ticket in seconds."
                  },
                  "enableOcspStapling": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enables Online Certificate Status Protocol (OCSP) stapling to check the revocation status of digital certificates. (Refer to https://en.wikipedia.org/wiki/OCSP_stapling)"
                  },
                  "beianContentType": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24,
                    "description": "If you are planning to distribute content through servers in mainland China, you will need to set the <i>hasBeian</i> field to <i>true</i> and also indicate the type of content you are distributing. Enter the value that best corresponds to your content:\n\n<table>\n<tr><th>Value</th><th>Content Type</th></tr>\n<tr><td>1</td><td>Instant Messaging</td></tr>\n<tr><td>2</td><td>Search Engine</td></tr>\n<tr><td>3</td><td>Web Portal</td></tr>\n<tr><td>4</td><td>Online Postal Service</td></tr>\n<tr><td>5</td><td>Online News</td></tr>\n<tr><td>6</td><td>Blog</td></tr>\n<tr><td>7</td><td>Advertisement</td></tr>\n<tr><td>8</td><td>Organization Web Portal</td></tr>\n<tr><td>9</td><td>Shopping</td></tr>\n<tr><td>10</td><td>Online Payment</td></tr>\n<tr><td>11</td><td>Online Bank</td></tr>\n<tr><td>12</td><td>Online Stock Market</td></tr>\n<tr><td>13</td><td>Online Gaming</td></tr>\n<tr><td>14</td><td>Online Music</td></tr>\n<tr><td>15</td><td>Online Movie</td></tr>\n<tr><td>16</td><td>Online Picture</td></tr>\n<tr><td>17</td><td>Software Download</td></tr>\n<tr><td>18</td><td>Job Hunting</td></tr>\n<tr><td>19</td><td>Online Dating</td></tr>\n<tr><td>20</td><td>Online Real Property</td></tr>\n<tr><td>21</td><td>Online Education</td></tr>\n<tr><td>22</td><td>Web Design</td></tr>\n<tr><td>23</td><td>WAP</td></tr>\n<tr><td>24</td><td>Others</td></tr>\n</table>"
                  },
                  "accessControlRules": {
                    "type": "array",
                    "description": "Specify one or more access control rules to restrict access to your content. More advanced configuration can be done using edge logic. These access control rules take precedence over edge logic if both are defined.",
                    "items": {
                      "title": "accessControlRule",
                      "type": "object",
                      "description": "This object defines a rule that can be used to restrict access to your content. More complex rules can be created using CDN360's Edge Logic.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 60,
                          "minLength": 0,
                          "description": "An optional ID for the access control rule."
                        },
                        "conditions": {
                          "type": "object",
                          "description": "Specify the conditions that the incoming request must match. At least one condition must be specified. If multiple are specified, all must match.",
                          "properties": {
                            "scheme": {
                              "type": "string",
                              "enum": [
                                "https",
                                "http"
                              ],
                              "description": "Indicates whether the incoming request uses HTTP or HTTPS."
                            },
                            "hostname": {
                              "type": "string",
                              "description": "Indicates the hostname requested. It must be one of the hostnames defined in the property."
                            },
                            "uri": {
                              "type": "string",
                              "description": "The URI begins with \"/ and can end with \"*\" for prefix matching. ",
                              "maxLength": 500
                            },
                            "serverRegions": {
                              "type": "array",
                              "description": "An array of <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 alpha-2 codes</a> indicating the countries of the servers, for example, \"US\" to represent \"United States of America\".",
                              "items": {
                                "type": "string"
                              }
                            },
                            "clientRegions": {
                              "type": "array",
                              "description": "An array of <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 alpha-2 codes</a> indicating one or more countries which are the source of the client requests, for example, \"CN\" to represent \"China\".",
                              "items": {
                                "type": "string"
                              }
                            },
                            "clientIpRange": {
                              "type": "array",
                              "description": "Indicates the starting and ending IP addresses of the client requests to match against. They must be in IPv4 or IPv6 format.",
                              "items": {
                                "type": "string",
                                "maxLength": 2
                              }
                            }
                          }
                        },
                        "action": {
                          "type": "object",
                          "description": "Indicates the action to take in response to a request that matches the conditions of the access control rule.",
                          "required": [
                            "status"
                          ],
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "Indicates the HTTP status code to respond with. It must be in the range 300-309, 400-409, or 500-509 to indicate a redirection or error."
                            },
                            "message": {
                              "type": "string",
                              "maxLength": 200,
                              "description": "If the value of the <i>status</i> field is in the range 300-309, the <i>message</i> field's value will be placed in a Location HTTP header returned to the client. If the <i>status</i> is in the range 400-409 or 500-509, the value will be returned in the response body to the client."
                            }
                          }
                        }
                      },
                      "required": [
                        "conditions",
                        "action"
                      ]
                    }
                  },
                  "disableCertAutomation": {
                    "type": "boolean",
                    "description": "By default, CDN360 takes control of the contents under the /.well-known/{acme-challenge, pki-validation} directories to support certificate auto-renew for properties. If for any reason you need to manage these two directories by yourself on the origin, for example, to implement your own certificate auto-renew mechanism, you can use this configuration option to disable the default behavior by setting its value to <i>true</i>. For more information about our support for certificate auto-renewal, refer to the description of the <i>autoRenew</i> field in the <a href=\"#operation/createCertificate\">Create a certificate API</a>.",
                    "default": "false"
                  },
                  "cacheKeyUri": {
                    "type": "string",
                    "enum": [
                      "preRewrite",
                      "postRewrite"
                    ],
                    "default": "preRewrite",
                    "description": "This setting controls how the URI of the incoming request is incorporated into the cache key if you use a \"rewrite\" directive in the property's edge logic. The default value, \"preRewrite\", puts the unmodified URI into the cache key while \"postRewrite\" uses the modified URI. If your rewrite directive converts multiple different URIs into the same value, using \"postRewrite\" may result in a higher cache hit ratio."
                  },
                  "extraServicePorts": {
                    "type": "object",
                    "description": "This field lists ports other than the default 80 used to handle HTTP requests and ports other than the default 443 used to handle HTTPS requests. ",
                    "properties": {
                      "http": {
                        "type": "array",
                        "description": "This is a list of ports other than 80 which are used to handle HTTP requests. The available values can be found in the <a href=\"#operation/get-cdn-systemConfigs\">systemConfigs</a> API's response. If you need another port, please contact our support team.",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 65535
                        }
                      },
                      "https": {
                        "type": "array",
                        "description": "This is a list of ports other than 443 which are used to handle HTTPS requests. The available values can be found in the <a href=\"#operation/get-cdn-systemConfigs\">systemConfigs</a> API's response. If you need another port, please contact our support team.",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 65535
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "origins": [
                      {
                        "supportedProtocol": "both",
                        "hostHeader": "autohostheader.com",
                        "servers": [
                          "mydomain.info"
                        ],
                        "name": "my_origin_1572403819776",
                        "verifyOrigin": null,
                        "directConnection": "auto"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "The body consists of the property configuration you wish to set."
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer."
          }
        ]
      },
      "delete": {
        "summary": "Delete a property version",
        "tags": [
          "Property Management"
        ],
        "responses": {
          "204": {
            "description": "The property version was deleted."
          },
          "404": {
            "description": "Invalid property. Refer to the response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid property ID": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  },
                  "Invalid property version ": {
                    "value": {
                      "code": "InvalidVersion",
                      "message": "The property version specified does not exist."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The property version could not be deleted. Refer to the response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Property in use": {
                    "value": {
                      "code": "PropertyInUse",
                      "message": "The property version is currently deployed to staging or production and cannot be deleted. The user needs to create a deployment task to remove the property from cache servers."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "delete-cdn-properties-propertyID-versions-version",
        "description": "Delete a property version.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer."
          }
        ]
      }
    },
    "/cdn/properties/{propertyID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "propertyID",
          "in": "path",
          "description": "ID of a property\n",
          "required": true
        }
      ],
      "get": {
        "summary": "Query a property",
        "tags": [
          "Property Management"
        ],
        "responses": {
          "200": {
            "description": "This API returns a brief summary of a property including its description, version deployed to production and staging, and the number of versions that have been created.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "property",
                  "type": "object",
                  "description": "Describes a property returned by Query Property.",
                  "x-examples": {
                    "example-1": {
                      "value": {
                        "name": "TestProperty1572420965460",
                        "description": "validPropertyBodyWithCertificate_PropertyEndToEndTestSteps",
                        "ownerCustomerId": 10000021,
                        "versions": 1,
                        "lastUpdateTime": "2019-10-30T07:36:06Z",
                        "creationTime": "2019-10-30T07:36:06Z"
                      }
                    }
                  },
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the property.\n"
                    },
                    "description": {
                      "type": "string",
                      "description": "A description of the property.\n"
                    },
                    "ownerCustomerId": {
                      "type": "integer",
                      "description": "ID of the customer that owns this property."
                    },
                    "versionInProduction": {
                      "type": "integer",
                      "description": "Indicates the version of the property deployed to production. The field will be omitted if the property was not yet deployed."
                    },
                    "versionInStaging": {
                      "type": "integer",
                      "description": "Indicates the version of the property deployed to staging. The field will be omitted if the property was not yet deployed."
                    },
                    "creationTime": {
                      "type": "string",
                      "description": "An RFC 3339 date indicating when the property was created."
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "description": "An RFC 3339 date indicating when the property was last updated."
                    },
                    "versions": {
                      "type": "integer",
                      "description": "Number of versions of the property.\n"
                    }
                  },
                  "required": [
                    "name"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "name": "Test20190827",
                      "description": "testing ....",
                      "ownerCustomerId": 6,
                      "versions": 1,
                      "lastUpdateTime": "2019-08-27T19:33:38Z",
                      "creationTime": "2019-08-27T19:15:17Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The property was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid property ID": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns a summary about a property including the number of versions that have been created and which versions are deployed.",
        "operationId": "queryProperty",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer."
          }
        ]
      },
      "patch": {
        "tags": [
          "Property Management"
        ],
        "summary": "Update a property",
        "responses": {
          "200": {
            "description": "This response indicates the property was successfully updated."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The property cannot be found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid property ID": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "There is another property with the same name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Duplicate property name.": {
                    "value": {
                      "code": "DuplicatePropertyName",
                      "message": "A property with the same name already exists."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint changes the name and description of a property. Its versions are unaffected. \n\nIf you wish to change a property's configuration, use the <a href=\"#operation/updatePropertyVersion\">Update a property version API</a>.",
        "operationId": "updateProperty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the property."
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the property. If unspecified, the description will not be updated."
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "TestProperty1572403806952",
                    "description": "updated"
                  }
                }
              }
            }
          },
          "description": "Specify the property's new name or description."
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer."
          }
        ]
      },
      "delete": {
        "summary": "Delete a Property",
        "description": "Delete a property by its ID.",
        "operationId": "deleteProperty",
        "responses": {
          "204": {
            "description": "The property was successfully deleted."
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The property could not be deleted because it is currently deployed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "PropertyInUse",
                      "message": "The property is currently deployed to staging or production and cannot be deleted. The user must create a deployment task to remove the property from the cache servers. Version on staging: 2. Version on production: 2."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Property Management"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "On-Behalf-Of",
            "description": "If you are a reseller, you can use this header to specify the ID of a child customer."
          }
        ]
      }
    },
    "/cdn/edgeHostnames/{edgeHostname}": {
      "get": {
        "summary": "Get an edge hostname",
        "tags": [
          "Edge Hostname Management"
        ],
        "responses": {
          "200": {
            "description": "The response body contains details of the edge hostname.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
[...]
