{
  "openapi": "3.0.0",
  "info": {
    "title": "CDN Pro API Specification",
    "version": "1.0",
    "description": "CDN Pro APIs allow you to manage the CDN Pro service.",
    "x-logo": {
      "url": "images/cdn6.jpg",
      "backgroundColor": "#FFFFFF",
      "altText": "CDNetworks logo"
    },
    "contact": {
      "url": "https://www.cdnetworks.com",
      "email": "support@cdnetworks.com",
      "name": "N/A"
    }
  },
  "servers": [
    {
      "url": "https://ngapi.cdnetworks.com"
    },
    {
      "url": "https://ngapi.quantil.com",
      "description": ""
    }
  ],
  "paths": {
    "/cdn/properties": {
      "parameters": [],
      "post": {
        "summary": "创建加速项目",
        "responses": {
          "201": {
            "description": "加速项目创建成功。返回Location标头，携带加速项目的URL。例如，<code>Location: http://ngapi.cdnetworks.com/cdn/properties/8fdc9c949e986564cc24b149</code>",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "新加速项目的URL",
                "required": true
              }
            }
          },
          "400": {
            "description": "无效请求，请查看响应体中的错误信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid Edge Logic": {
                    "value": {
                      "code": "InvalidEdgeLogic",
                      "message": "Please check the edgeLogic configuration format. Make sure each 'location' block has an 'origin_pass' or a 'return' directive. A top-level 'if' block must have a 'return' directive and not contain an 'origin_pass' directive. A location directive for the default path '/' is also required."
                    }
                  },
                  "Invalid certificate ID": {
                    "value": {
                      "code": "InvalidCertId",
                      "message": "The specified tlsCertificateId does not exist."
                    }
                  },
                  "Invalid TLS session timeout": {
                    "value": {
                      "code": "InvalidTLSSessionTimeout",
                      "message": "The TLS session timeout value should be between 300 and 86400 inclusive."
                    }
                  },
                  "OriginHostnameConflict": {
                    "value": {
                      "code": "OriginHostnameConflict",
                      "message": "At least one of the hostnames is equal to an origin's server name."
                    }
                  },
                  "Invalid service port": {
                    "value": {
                      "code": "InvalidServicePort",
                      "message": "The https service port 1234 is not supported."
                    }
                  },
                  "Unauthorized directive": {
                    "value": {
                      "code": "UnauthorizedDirective",
                      "message": "The directive 'origin_fast_route' is not enabled for your account. Please contact our support team if you require it."
                    }
                  },
                  "Invalid directive": {
                    "value": {
                      "code": "InvalidDirective",
                      "message": "An invalid directive 'ORIGIN_set_header' was found in your Edge Logic. Please refer to the API documentation for a list of supported directives."
                    }
                  },
                  "Invalid hostname": {
                    "value": {
                      "code": "InvalidHostname",
                      "message": "The hostname 'mytesthostname.com' is already in your property."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "禁止访问。请参阅响应正文了解详情。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Access denied": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "Please enter valid credentials."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "指定的加速项目名称已存在。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Duplicate property name": {
                    "value": {
                      "code": "DuplicatePropertyName",
                      "message": "A property with the same name already exists."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "创建加速项目，在加速项目中定义需要部署到CDN Pro服务器的一个或多个加速域名的配置。",
        "operationId": "createProperty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "加速项目的名称。"
                  },
                  "description": {
                    "type": "string",
                    "description": "加速项目的描述。",
                    "maxLength": 250
                  },
                  "version": {
                    "title": "propertyConfiguration",
                    "type": "object",
                    "description": "描述加速项目的所有配置信息。",
                    "x-examples": {
                      "example-1": {
                        "value": {
                          "syntaxVersion": 1,
                          "edgeLogic": "location / {origin_pass my_origin_1572420965460;}",
                          "tlsMaxVersion": "1.2",
                          "tlsMinVersion": "1.1",
                          "tlsCertificateId": "8961b13c87cd30a7687edc8c",
                          "origins": [
                            {
                              "hostHeader": "testcustomer.g.qtlcdn.com",
                              "servers": [
                                "edgetools.theoriginserver.com"
                              ],
                              "name": "my_origin_1572420965460",
                              "directConnection": "noDirect"
                            }
                          ],
                          "hostnames": [
                            "testcustomer1572420596536.g.qtlcdn.com"
                          ]
                        }
                      }
                    },
                    "x-tags": [
                      "Property Management"
                    ],
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "版本描述。"
                      },
                      "cacheKeyHostname": {
                        "type": "string",
                        "description": "用于缓存键（Cache Key）的主机名必须是由小写字母、数字、点、连字符和下划线组成的字符串。如果未指定，默认将使用传入的Host请求头值，并且此加速项目中的不同加速域名之间不共享缓存。",
                        "maxLength": 80,
                        "pattern": "^[a-z.-_]+"
                      },
                      "hostnames": {
                        "type": "array",
                        "description": "与加速项目关联的加速域名。必须是FQDN完全限定域名，如 www.domain.com，或通配符域名，如 *.domain.com。同一个加速域名在同一时间只能存在于一个已部署的加速项目中。但是，通配符域名可以与完全限定域名一同部署。",
                        "items": {
                          "type": "string"
                        }
                      },
                      "realTimeLog": {
                        "type": "object",
                        "description": "此可选字段用来配置发送消息通知到您的远程服务器。当有客户端请求访问您的加速域名时，将触发通知发送。需要先开通<i>realtime_log_switch</i>指令，才能使用该功能。如果您需要此功能，请联系我们的技术支持。",
                        "properties": {
                          "logUrl": {
                            "type": "string",
                            "description": "接收通知的服务器URL地址。必须以“http”或“https”开头。服务器须支持POST方法。这是必填字段。"
                          },
                          "sampleRate": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1,
                            "maximum": 65536,
                            "description": "采样率。介于[1, 65536]之间的整数。n表示每n个边缘请求发送1条通知。1表示每个边缘请求都会发送。这是可选字段。默认值为1。"
                          },
                          "escape": {
                            "type": "string",
                            "enum": [
                              "json",
                              "none"
                            ],
                            "description": "指定<i>json</i>以启用变量中的json字符转义，或指定<i>none</i>，以禁用转义。"
                          },
                          "format": {
                            "type": "string",
                            "description": "该字段用来定义要发送到远程服务器的通知的格式。通知正文可以包括任何能在HTTP POST请求体中发送的可打印文本。这是必填字段。\n\n可以使用以下内置变量定义通知的格式。发送通知时，它们将被替换为实际值。\n<table>\n<tr><th>变量名称</th><th>描述</th></tr>\n<tr><td>$body_bytes_sent</td><td>响应体大小。</td></tr>\n<tr><td>$bytes_sent</td><td>响应的大小，包括响应体、标头和响应行。</td></tr>\n<tr><td>$client_country_code</td><td>客户端请求来源国家，以ISO 3166-1国家代码表示。例如“US”。如果国家/地区未知，则返回“ZZ”。</td></tr>\n<tr><td>$client_real_ip</td><td>客户端请求的IP地址。</td></tr>\n<tr><td>$cookie_x</td><td>这允许您获取任何名为x的cookie。例如，$cookie_account将获取名为“account”的cookie值。</td></tr>\n<tr><td>$http_x</td><td>从原始请求中获取任何名为x的HTTP头。标头名称将转换为小写，并用下划线替换连字符。例如，指定$http_user_agent以获取User-Agent的值。</td></tr>\n<tr><td>$msec</td><td>当前unix时间，以毫秒为单位。</td></tr>\n<tr><td>$qtl_req_id</td><td>请求的唯一标识符。</td></tr>\n<tr><td>$request_uri</td><td>HTTP请求URI。</td></tr>\n<tr><td>$request_method</td><td>用于访问源站的HTTP请求方法。</td></tr>\n<tr><td>$request_time</td><td>响应时间，以毫秒为单位。这是从接收请求的第一个字节到服务响应的最后一个字节之间的时间。</td></tr>\n<tr><td>$sc_completed</td><td>1表示对象的最后一个字节已返回给用户，否则为0。</td></tr>\n<tr><td>$sc_initial</td><td>1表示对象的第一个字节已返回给用户，否则为0。</td></tr>\n<tr><td>$scheme</td><td>表示用户请求的协议（“http”或“https”）。</td></tr>\n<tr><td>$sent_http_content_length</td><td>原始文件大小。</td></tr>\n<tr><td>$sent_http_x</td><td>获取在对客户端响应中名为x的HTTP响应头的值。标头名称将转换为小写，并用下划线替换连字符。例如，$sent_http_etag将为您提供ETag头的值。</td></tr>\n<tr><td>$server_addr</td><td>为用户请求提供服务的边缘节点的IP地址。</td></tr>\n<tr><td>$server_protocol</td><td>表示用户请求中使用的HTTP版本，可以是“HTTP/1.0”、“HTTP/1.1”或“HTTP/2.0”。</td></tr>\n<tr><td>$ssl_cipher</td><td>表示用于TLS（SSL）连接的加密算法套件。</td></tr>\n<tr><td>$ssl_server_name</td><td>发起TLS（SSL）连接的客户端试图连接到的域名。它仅由支持SNI（Server Name Indication）的客户端发送。</td></tr>\n<tr><td>$ssl_protocol</td><td>表示用于TLS（SSL）连接的TLS版本。示例版本包括“SSLv3”、“TLSv1”、“TLSv1.1”、“TLSv1.2”和“unknown”。</td></tr>\n<tr><td>$status</td><td>用户请求的HTTP状态码。</td></tr>\n<tr><td>$tcpinfo_rtt</td><td>数据包往返目的地所用的时间，以微秒为单位。</td></tr>\n</table>"
                          },
                          "headers": {
                            "type": "array",
                            "description": "需要发送到远程服务器的HTTP请求头名称和值。请求头名称可以包含任何字母，数字或连字符“-”。值可以包含任何可打印字符。它还可以包含realTimeLog对象的<i>format</i>字段中支持的任何内置变量。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "HTTP标头名称"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "HTTP标头值"
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "logUrl"
                        ]
                      },
                      "edgeLogic": {
                        "type": "string",
                        "maxLength": 65530,
                        "description": "自定义边缘逻辑。参考<a href=\"/cdn/docs/edge-logic/intro\">边缘逻辑介绍</a>。"
                      },
                      "hasBeian": {
                        "type": "boolean",
                        "default": false,
                        "description": "此加速项目中的所有加速域名是否都已获得中国政府的ICP备案。这是使用中国大陆节点服务所必需的条件。如果值为<i>false</i>，则使用中国大陆以外的加速节点为中国大陆用户提供内容分发服务。如果设置为<i>true</i>，还必须在<i>beianContentType</i>字段中指定内容类型。"
                      },
                      "redirectHttpToHttps": {
                        "type": [
                          "boolean",
                          "string"
                        ],
                        "default": false,
                        "description": "此字段可以设置为布尔值或字符串。如果设置为<i>true</i>，则服务器将使用状态码301将所有HTTP请求重定向到HTTPS。如果您希望在重定向请求时返回不同的状态码，也可以指定字符串值“302”、“307”或“308”。"
                      },
                      "origins": {
                        "type": "array",
                        "description": "描述加速项目对应的源站。",
                        "items": {
                          "type": "object",
                          "description": "描述一个源站。",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "源站名称，在此加速项目中必须唯一。",
                              "pattern": "^[a-zA-z0-9_]"
                            },
                            "servers": {
                              "type": "array",
                              "description": "源站服务器列表。每个条目应该是一个字符串，由一个地址与一个或多个参数组成，参数之间以空格分隔。地址可以采用以下三种形式之一：\n<ul>\n<li>{域名或IP地址}</li>\n<li>{域名或IP地址}:{HTTP端口}</li>\n<li>{域名或IP地址}:{HTTP端口},{HTTPS端口}</li>\n</ul>\nHTTP和HTTPS端口的值应为[1,65535]范围内的整数。\n即使<i>supportedProtocol</i>的值为“https”，也必须指定HTTPS端口。\n在第三种形式中，两个端口中的一个可以为空。\n\n支持的参数为“backup”和“weight”。\n“backup”用于标识备份服务器。它将在主服务器不可用时使用。\n“weight”是范围[1,100]内的值，默认值为1，用来设置服务器权重，控制一台源站服务器相对于另一台被使用的可能性。\n每个源站应至少定义一个主服务器（即不带“backup”参数的服务器）。\n\n示例：\n<code>[\"www.abc.com weight=1\", \"www1.abc.com:8080 weight=4\", \"www2.abc.com:880,4443 backup\"]</code>\n\n此示例指定了两个主服务器，其权重为1:4，这意味着第一个服务器将获得约20%的回源请求，而另一个将获得约80%。此外，还指定了一个备份服务器。",
                              "example": "[“www.abc.com”, “www1.abc.com:8080”, “www2.abc.com:880,4443 backup”]",
                              "items": {
                                "type": "string"
                              }
                            },
                            "supportedProtocol": {
                              "type": "string",
                              "description": "此可选字段表示源站服务器支持的协议。如果此加速项目附加了证书，且<i>allowProtocolDowngrade</i>字段也设置为<i>true</i>，则可以将该值设置为<i>http</i>。",
                              "enum": [
                                "http",
                                "https",
                                "both"
                              ]
                            },
                            "directConnection": {
                              "type": "string",
                              "default": "auto",
                              "description": "此可选字段表示边缘节点是否需要直接回源。这些值可以是“noDirect”、“auto”、“alwaysDirect”。\n\n“noDirect”指总是通过至少一个中间缓存节点回源。对于特别关心源站负载的客户可以使用此选项。我们的调度程序将根据性能和资源可用性动态选择中间缓存节点。\n“alwaysDirect”指总是直接回源。\n“auto”指自动选择直接回源或通过中间缓存节点回源。调度程序将根据性能和资源可用性动态做出选择。该字段未指定时，采用此默认行为。"
                            },
                            "hostHeader": {
                              "type": "string",
                              "description": "可选。必须是有效的域名。它也将在连接HTTPS源站时作为SNI域名。它还可以是一个nginx变量，以“$”开头，后跟[a-z_]{3,60}。Nginx变量名不区分大小写，因此我们只允许小写字符。\n如果未指定，将使用请求中的HOST请求头的值。\n\n有一个约束条件是，如果指定了“awsS3”作为回源鉴权参数，则<i>hostHeader</i>的值不能为变量或为空，必须是有效的Amazon S3主机名。参考：https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html",
                              "format": "hostname"
                            },
                            "verifyOrigin": {
                              "type": "boolean",
                              "default": false,
                              "description": "可选。用来控制缓存节点是否验证源站证书。"
                            },
                            "authentication": {
                              "type": "object",
                              "description": "可选。用于指定参数（如密码）与源服务器进行身份验证（回源鉴权）。必须至少有“methodName”（字符串）字段，用来指定预定义的身份验证方法。目前仅支持源站为AWS S3的回源鉴权，因此唯一有效的值是“awsS3”。使用“awsS3”时，需要提供以下参数：\n<ul>\n<li>awsS3.region</li>\n<li>awsS3.accessKey</li>\n<li>awsS3.secretKey</li>\n</ul>\n此外，<i>hostHeader</i>字段的值不能为变量或为空，必须是有效的Amazon S3主机名。\n\n示例：\n<code>\n{\"methodName\":\"awsS3\",\n\"awsS3\":{\n\"region\":\"us-west-1\",\n\"accessKey\":\"sdnu2932\",\n\"secretKey\":\"d12345678abcdefghi\"\n}}\n</code>",
                              "example": "{“methodName”:”awsS3”, ”awsS3”:{ ”region”:”us-west-1”, ”accessKey”:”sdnu2932”, ”secretKey”:”d12133424fvregvrew” }}",
                              "properties": {
                                "methodName": {
                                  "type": "string",
                                  "description": "鉴权方法。"
                                }
                              }
                            },
                            "keepAliveTimeout": {
                              "type": "integer",
                              "default": 60,
                              "description": "用于配置CDN Pro和源站建连的Keep-Alive超时时间，单位为秒。通过<i>maxUpstreamKeepaliveTimeOut</i> 该服务设置项可以更改允许的最大值。",
                              "minimum": 5,
                              "maximum": 600
                            },
                            "peerFailureTimeout": {
                              "type": [
                                "string",
                                "object"
                              ],
                              "enum": [
                                "off"
                              ],
                              "description": "该字段用于设定连接某个源站服务器的失败重试次数和将服务器标记为不可用的超时时长。当某个源站服务器的失败重试次数达到指定的阈值，则该服务器会被标记为不可用，不可用时长为<i>timeout</i>字段指定的超时时长。如果所有源站服务器都不可用，则对应的请求将立即收到502状态码。默认情况下，对每个源站服务器进行6次重试，之后将服务器标记为不可用，时长为1秒。要禁用此功能，请将peerFailureTimeout设置为“<i>off</i>”。",
                              "properties": {
                                "failureThreshold": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 999,
                                  "default": 6,
                                  "description": "在源站服务器被标记为不可用之前的失败重试次数。"
                                },
                                "timeout": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 1200,
                                  "default": 1,
                                  "description": "源站服务器被标记为不可用的超时时间，单位为秒。"
                                }
                              }
                            },
                            "tlsCertificateId": {
                              "type": "string",
                              "description": "用于验证源站服务器的<a href=\"#tag/证书管理\">证书</a>，该证书同样必须被部署。"
                            }
                          }
                        }
                      },
                      "syntaxVersion": {
                        "type": "number",
                        "default": 1,
                        "description": "当前仅允许值为1。"
                      },
                      "disableHttp2": {
                        "type": "boolean",
                        "default": false,
                        "description": "当值为<i>true</i>时，禁用对HTTP/2的支持，仅支持HTTP/1.1。"
                      },
                      "schemeInCacheKey": {
                        "type": "boolean",
                        "default": false,
                        "description": "指定缓存键（Cache key）是否区分协议（“http”或“https”）。默认为</i>false</i>。如果不同协议响应的内容不同，则设置为<i>true</i>。"
                      },
                      "tlsMaxVersion": {
                        "type": "string",
                        "default": 1.3,
                        "enum": [
                          1.1,
                          1.2,
                          1.3
                        ],
                        "description": "支持的TLS最高版本。"
                      },
                      "loadBalancerHashKey": {
                        "type": "string",
                        "description": "我们的CDN使用了多层负载均衡架构，以将客户端请求分发到不同的服务器。我们在架构中多处使用到一致性哈希。默认情况下，URL被用作哈希键，这适用于大多数情况。您可以在这里定义要添加到哈希键的其他变量，以更均匀地分配请求。一个典型的使用场景是，所有请求都携带相同的URL，但使用特定的标头来区分资源。\n\n这是一个可选字段。默认值为空字符串。有效值必须满足以下条件：\n<ol>\n<li>由字母、数字、下划线_、等号=、美元符号$和符号&组成。</li>\n<li>变量名只能采用以下格式之一：$http_name、$cookie_name、$arg_name。</li>\n<li>必须至少指定一个变量，不允许超过三个。</li>\n<li>总长度不得超过100个字符。</li>\n</ol>\n我们的配置验证器将把任何美元符号及其后的字符串（在任何=或&或$之前）视为变量。\n\n以下是一些有效值的示例：\n<table>\n<tr><td>$http_abc</td></tr>\n<tr><td>abc=$http_abc&def=$http_def&c_123=$cookie_123</td></tr>\n<tr><td>abc=$http_abc=$http_def</td></tr>\n<tr><td>$http_abc&$http_def</td></tr>\n<tr><td>=$http_abd&</td></tr>\n<tr><td>&&abc==$http_abc&&&===qwer</td></tr>\n</table>",
                        "maxLength": 100
                      },
                      "tlsCertificateId": {
                        "type": "string",
                        "description": "该加速项目用到的<a href=\"#tag/证书管理\">证书</a>ID。仅设置<i>tlsCertificateId1</i>字段而不设置<i>tlsCertificateId</i>字段是无效的。如果未设置<i>tlsCertificateId</i>，则不会为此加速项目启用HTTPS。该功能允许您指定两个不同类型的证书，即一个RSA，一个EC。如果指定了两个相同类型的证书，则将忽略<i>tlsCertificateId</i>指定的证书。 "
                      },
                      "tlsMinVersion": {
                        "type": "string",
                        "default": 1,
                        "description": "所需的TLS最低版本。",
                        "enum": [
                          1.1,
                          1.2,
                          1.3,
                          1
                        ]
                      },
                      "tlsCiphers": {
                        "type": "string",
                        "description": "“openssl ciphers”支持的任何加密算法套件。参考：https://www.openssl.org/docs/manmaster/man1/ciphers.html",
                        "maxLength": 2040
                      },
                      "allowProtocolDowngrade": {
                        "type": "boolean",
                        "default": false,
                        "description": "是否允许协议降级。仅当加速项目中存在允许客户端使用HTTPS请求的证书时，此设置才适用。如果allowProtocolDowngrade的值为<i>false</i>，则要求所有源服务器支持HTTPS。如果值为<i>true</i>，则允许仅支持HTTP的源，但这会降低安全性。"
                      },
                      "tlsCertificateId1": {
                        "type": "number",
                        "description": "指该加速项目用到的<a href=\"#tag/证书管理\">证书</a>ID。仅设置<i>tlsCertificateId1</i>字段而不设置<i>tlsCertificateId</i>字段是无效的。如果未设置<i>tlsCertificateId</i>，则不会为此加速项目启用HTTPS。该功能允许您指定两个不同类型的证书，即一个RSA，一个EC。如果指定了两个相同类型的证书，则将忽略<i>tlsCertificateId</i>指定的证书。"
                      },
                      "videoSeek": {
                        "type": "object",
                        "description": "此对象用来支持视频播放器通过指定查询参数来请求部分内容。当<i>videoSeek</i>对象存在时，必须为<i>startParameter</i>设置一个值。",
                        "properties": {
                          "startParameter": {
                            "type": "string",
                            "description": "查询参数的名称，用来指定要获取的内容的起始位置（以字节计算）。参数名称应以字母（a-z，A-Z）开头，后面最多可以有30个字母和数字。",
                            "minLength": 1,
                            "maxLength": 31
                          },
                          "endParameter": {
                            "type": "string",
                            "description": "查询参数的名称，用来指定要获取的内容的结束位置（以字节计算）。参数名称应以字母（a-z，A-Z）开头，后面最多可以有30个字母和数字。",
                            "minLength": 0,
                            "maxLength": 31
                          }
                        },
                        "required": [
                          "startParameter"
                        ]
                      },
                      "tlsSessionTimeout": {
                        "type": "integer",
                        "minimum": 300,
                        "maximum": 86400,
                        "default": 1800,
                        "description": "TLS会话ticket的有效期（秒）。"
                      },
                      "enableOcspStapling": {
                        "type": "boolean",
                        "default": false,
                        "description": "是否启用在线证书状态协议（OCSP）装订以检查数字证书的吊销状态。参考：https://en.wikipedia.org/wiki/OCSP_stapling"
                      },
                      "beianContentType": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 24,
                        "description": "如果您计划通过中国大陆的服务器分发内容，则需要将<i>hasBeian</i>字段设置为<i>true</i>，并指出您分发的内容类型。输入与您的内容最匹配的值：\n\n<table>\n<tr><th>值</th><th>内容类型</th></tr>\n<tr><td>1</td><td>即时通信</td></tr>\n<tr><td>2</td><td>搜索引擎</td></tr>\n<tr><td>3</td><td>综合门户</td></tr>\n<tr><td>4</td><td>网上邮局</td></tr>\n<tr><td>5</td><td>网络新闻</td></tr>\n<tr><td>6</td><td>博客/个人空间</td></tr>\n<tr><td>7</td><td>网络广告</td></tr>\n<tr><td>8</td><td>单位门户网站</td></tr>\n<tr><td>9</td><td>网络购物</td></tr>\n<tr><td>10</td><td>网上支付</td></tr>\n<tr><td>11</td><td>网上银行</td></tr>\n<tr><td>12</td><td>网上炒股</td></tr>\n<tr><td>13</td><td>网络游戏</td></tr>\n<tr><td>14</td><td>网络音乐</td></tr>\n<tr><td>15</td><td>网络影视</td></tr>\n<tr><td>16</td><td>网络图片</td></tr>\n<tr><td>17</td><td>软件下载</td></tr>\n<tr><td>18</td><td>网上求职</td></tr>\n<tr><td>19</td><td>在线交友</td></tr>\n<tr><td>20</td><td>网上房产</td></tr>\n<tr><td>21</td><td>网络教育</td></tr>\n<tr><td>22</td><td>网站建设</td></tr>\n<tr><td>23</td><td>WAP</td></tr>\n<tr><td>24</td><td>其他</td></tr>\n</table>"
                      },
                      "accessControlRules": {
                        "type": "array",
                        "description": "指定一个或多个访问控制规则以限制对内容的访问。可以使用边缘逻辑进行更高级的配置。此处定义的访问控制规则，优先级高于边缘逻辑。",
                        "items": {
                          "title": "accessControlRule",
                          "type": "object",
                          "description": "此对象可定义对内容的访问控制规则。您也可以使用CDN Pro的边缘逻辑来创建更复杂的规则。",
                          "properties": {
                            "id": {
                              "type": "string",
                              "maxLength": 60,
                              "minLength": 0,
                              "description": "访问控制规则ID。"
                            },
                            "conditions": {
                              "type": "object",
                              "description": "指定客户端请求必须匹配的条件。必须至少指定一个条件。如果指定了多个条件，则必须全部匹配。",
                              "properties": {
                                "scheme": {
                                  "type": "string",
                                  "enum": [
                                    "https",
                                    "http"
                                  ],
                                  "description": "客户端请求的协议，HTTP或HTTPS。"
                                },
                                "hostname": {
                                  "type": "string",
                                  "description": "请求对应的加速域名。必须是加速项目中定义的加速域名之一。"
                                },
                                "uri": {
                                  "type": "string",
                                  "description": "用于前缀匹配的URI，以“/”开头，可以以“*”结尾。",
                                  "maxLength": 500
                                },
                                "serverRegions": {
                                  "type": "array",
                                  "description": "服务器所在区域，以<a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 两位国家代码</a>表示。例如，“US”代表“美国”。",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "clientRegions": {
                                  "type": "array",
                                  "description": "客户端请求来源区域，以<a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 两位国家代码</a>表示。例如，“CN”代表“中国”。",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "clientIpRange": {
                                  "type": "array",
                                  "description": "用于指定要匹配的客户端请求的开始和结束IP地址。必须是IPv4或IPv6格式。",
                                  "items": {
                                    "type": "string",
                                    "maxLength": 2
                                  }
                                }
                              }
                            },
                            "action": {
                              "type": "object",
                              "description": "对于匹配到以上条件的请求所采取的相应操作。",
                              "required": [
                                "status"
                              ],
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "description": "响应的HTTP状态码，范围必须在300-309、400-409或500-509之间，分别表示重定向或错误。"
                                },
                                "message": {
                                  "type": "string",
                                  "maxLength": 200,
                                  "description": "如果<i>status</i>字段的值在300-309范围内，<i>message</i>字段的值将在返回给客户端的Location响应头中。如果<i>status</i>字段的值在400-409或500-509范围内，则<i>message</i>字段的值将在返回给客户端的响应体中。"
                                }
                              }
                            }
                          },
                          "required": [
                            "conditions",
                            "action"
                          ]
                        }
                      },
                      "disableCertAutomation": {
                        "type": "boolean",
                        "description": "默认情况下，CDN Pro控制/.well-known/{acme-challenge, pki-validation}目录下的内容，以支持加速项目的证书自动更新功能。如果您需要自己在源站管理这两个目录，例如，为了实现您自己的证书自动更新机制，您可以将此字段设置为<i>true</i>来禁用默认行为。有关我们支持证书自动更新的更多信息，请参阅<a href=\"#operation/createCertificate\">创建证书</a>接口中<i>autoRenew</i>字段的说明。",
                        "default": false
                      },
                      "cacheKeyUri": {
                        "type": "string",
                        "enum": [
                          "preRewrite",
                          "postRewrite"
                        ],
                        "default": "preRewrite",
                        "description": "如果在加速项目的边缘逻辑中使用了“rewrite”指令，可使用该字段来控制客户端请求的URI如何合并到缓存键（Cache Key）中 。默认值“preRewrite”指将改写前的URI放入缓存键，而“postRewrite”则使用改写后的URI。如果您的“rewrite”指令将多个不同的URI改写为相同的值，则使用“postRewrite”可以提高缓存命中率。"
                      },
                      "extraServicePorts": {
                        "type": "object",
                        "description": "除标准的80，443端口外，我们还支持一些扩展端口。可用该字段指定用于处理HTTP和HTTPS请求的扩展端口。",
                        "properties": {
                          "http": {
                            "type": "array",
                            "description": "这是可用于处理HTTP请求的端口列表（80端口除外）。可通过调用<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口来查询系统支持的端口。如果您需要开通其他端口，请联系技术支持。",
                            "items": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 65535
                            }
                          },
                          "https": {
                            "type": "array",
                            "description": "这是可用于处理HTTPS请求的端口列表（443端口除外）。可通过调用<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口来查询系统支持的端口。如果您需要开通其他端口，请联系技术支持。",
                            "items": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 65535
                            }
                          }
                        }
                      },
                      "loadBalancerLogic ": {
                        "type": "string",
                        "description": "此字段可用来自定义<a href=\"/cdn/docs/edge-logic/intro\">边缘逻辑</a>，控制负载均衡器的行为。支持使用<a href=\"/cdn/docs/edge-logic/supported-directives\"> 边缘逻辑指令</a>中的部分指令。请参考<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口中<i>baseLbDirectives</i>字段所列出的负载均衡基础指令。目前，这些基础指令包括“if”、“else”、“elseif”、“set”、“return”、“add_header”、“deny”、“allow”、“access_log_sampling”和“proxy_set_headers”。此外，我们还支持一些高级指令，请参考<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口中<i>advancedLbDirectives</i>字段所列出的负载均衡高级指令。如果您需要使用这些高级指令，请联系技术支持。\n\n<br/>示例：<br/>\n<code>\nif ($http_user_agent = bot) { return 403;}\n</code>",
                        "maxLength": 65530
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "version"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "TestProperty1572420065294",
                    "description": "a new property",
                    "version": {
                      "syntaxVersion": 1,
                      "edgeLogic": "location / {origin_pass my_origin_1572420065294;}",
                      "origins": [
                        {
                          "hostHeader": "testcustomer.g.qtlcdn.com",
                          "servers": [
                            "edgetools.theoriginserver.com"
                          ],
                          "name": "my_origin_1572420065294",
                          "directConnection": "auto"
                        }
                      ],
                      "hostnames": [
                        "testcustomer1572420065294.g.qtlcdn.com"
                      ]
                    }
                  }
                },
                "example-2": {
                  "value": {
                    "name": "TestProperty1572420065294",
                    "description": "validPropertyNoCertificate_PropertyEndToEndTestSteps",
                    "version": {
                      "syntaxVersion": 1,
                      "edgeLogic": "location / {origin_pass my_origin_1572420065294;}",
                      "origins": [
                        {
                          "hostHeader": "testcustomer.g.qtlcdn.com",
                          "servers": [
                            "edgetools.theoriginserver.com"
                          ],
                          "name": "my_origin_1572420065294",
                          "directConnection": "auto"
                        }
                      ],
                      "hostnames": [
                        "testcustomer1572420065294.g.qtlcdn.com"
                      ],
                      "realTimeLog": {
                        "logUrl": "https://mynotification.info/downloadNotify/index.php",
                        "sampleRate": 2,
                        "escape": "json",
                        "format": "$server_addr",
                        "headers": [
                          {
                            "name": "X-My-Header",
                            "value": "123abc"
                          }
                        ],
                        "redirectHttpToHttps": true,
                        "loadBalancerHashKey": "$http_hashvalue",
                        "videoSeek": {
                          "startParameter": "start",
                          "endParameter": "end"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "在请求体中定义加速项目的名称以及需要部署到CDN Pro服务器的所有配置。"
        },
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可使用该请求头指定代理客户的ID。"
          }
        ],
        "tags": [
          "加速项目管理"
        ]
      },
      "get": {
        "summary": "获取加速项目列表",
        "responses": {
          "200": {
            "description": "返回加速项目的列表，包括每个加速项目的ID和最新版本等摘要信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "properties": {
                      "type": "array",
                      "description": "加速项目列表。",
                      "items": {
                        "title": "propertyListEntry",
                        "type": "object",
                        "description": "表示从获取加速项目列表API返回的加速项目。",
                        "x-examples": {
                          "example-1": {
                            "value": {
                              "id": "5c9326965efbb0000149b05c",
                              "name": "Testproperty20190320",
                              "description": "this is a test",
                              "latestVersion": 4,
                              "stagingVersion": {
                                "version": 2,
                                "hostnames": [
                                  "mydomain2.com"
                                ]
                              },
                              "productionVersion": {
                                "version": 2,
                                "hostnames": [
                                  "mydomain2.com"
                                ]
                              },
                              "lastUpdateTime": "2019-04-16T16:24:07Z",
                              "creationTime": "2019-03-21T05:52:22Z"
                            }
                          }
                        },
                        "x-tags": [
                          "Property Management"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "加速项目ID。"
                          },
                          "description": {
                            "type": "string",
                            "description": "加速项目的描述。"
                          },
                          "name": {
                            "type": "string"
                          },
                          "creationTime": {
                            "type": "string",
                            "description": "RFC 3339格式日期，指示创建加速项目的时间。"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "description": "RFC 3339格式日期，指示加速项目的最近更新时间。"
                          },
                          "latestVersion": {
                            "type": "integer",
                            "description": "加速项目的最新版本。"
                          },
                          "stagingVersion": {
                            "type": "object",
                            "description": "描述部署到演练的加速项目版本。",
                            "properties": {
                              "version": {
                                "type": "integer",
                                "description": "部署到演练的加速项目版本号。"
                              },
                              "hostnames": {
                                "type": "array",
                                "description": "加速域名。",
                                "uniqueItems": true,
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "productionVersion": {
                            "type": "object",
                            "description": "描述部署到生产的加速项目版本。",
                            "properties": {
                              "version": {
                                "type": "integer",
                                "description": "部署到生产的加速项目版本号。"
                              },
                              "hostnames": {
                                "type": "array",
                                "uniqueItems": true,
                                "description": "加速域名。",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "customerId": {
                            "type": "integer",
                            "description": "如果您是作为代理商通过Report-Range标头获取加速项目列表，则该字段表示拥有该加速项目的子客户ID。"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "creationTime",
                          "lastUpdateTime",
                          "latestVersion"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "加速项目数量。",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "properties",
                    "count"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "count": 2,
                      "properties": [
                        {
                          "id": "8fdc9c949e986564cc24b149",
                          "name": "TestProperty1572488767058",
                          "description": "validPropertyNoCertificate_PropertySteps",
                          "latestVersion": 1,
                          "lastUpdateTime": "2019-10-31T02:26:07Z",
                          "creationTime": "2019-10-31T02:26:07Z"
                        },
                        {
                          "id": "59ebc3af71985328ded56857",
                          "name": "TestProperty1572488525164",
                          "description": "1572488525164unique description property",
                          "latestVersion": 1,
                          "productionVersion": {
                            "version": 1,
                            "hostnames": [
                              "testdomain-t1572488525164.mwtrial.info"
                            ]
                          },
                          "lastUpdateTime": "2019-10-31T02:22:05Z",
                          "creationTime": "2019-10-31T02:22:05Z"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "Qtl-Request-ID": {
                "schema": {
                  "type": "string"
                },
                "description": "请求的唯一ID。",
                "required": true
              }
            }
          },
          "400": {
            "description": "无效请求，请查看响应体中的错误信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "指示错误详情。",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "错误码。"
                    },
                    "message": {
                      "type": "string",
                      "description": "错误信息。",
                      "example": "The offset must be a valid non-negative integer."
                    }
                  }
                },
                "examples": {
                  "Invalid list offset": {
                    "value": {
                      "code": "InvalidListOffset",
                      "message": "The offset must be a valid non-negative integer."
                    }
                  },
                  "Invalid target": {
                    "value": {
                      "code": "InvalidTarget",
                      "message": "Invalid target query parameter. Only \"all\", \"staging\", or \"production\" are allowed."
                    }
                  },
                  "Too many entries": {
                    "value": {
                      "code": "TooManyEntries",
                      "message": "This query could not be completed due to the exceptionally large amount of data to be processed. Please try to use some filters to reduce the scope of the query."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "该接口返回加速项目列表，包括每个加速项目的ID、最新版本号、注释、演练环境版本号、生产环境版本号，以及每个版本的最后更新时间等信息。可使用查询参数筛选加速项目。",
        "operationId": "getPropertyList",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search",
            "description": "根据搜索关键字匹配每个加速项目的<i>id</i>、<i>name</i>、<i>description</i>以及<i>hostnames</i>字段进行过滤。例如，“domain.com”将匹配到加速域名“domain.com”和“abc.123domain.com”。可以使用“^”字符限定只匹配以搜索关键字开头的值。例如，“^domain”将匹配到加速域名“domain.com”和“domain123.com”，但不会匹配到“abc.123domain.com”。由于URI仅允许有限数量的字符，当search参数包含^符号时，必须将“^”编码为“%5E”。例如，<code>curl -i --url 'https://ngapi.cdnetworks.com/cdn/properties?search=%5Edomain' ... </code>。注意，该搜索关键字将会对加速项目的所有未删除的版本进行匹配。此外，当通过ID搜索加速项目时，必须指定整个ID，不支持部分匹配。"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "hasConfig",
            "description": "通过<i>hasConfig</i>字段过滤加速项目。支持使用加速项目版本的任何字段名，在字段名后跟上冒号和值（可选）进行过滤。例如：<code>hasConfig=hasBeian:true</code>。当指定冒号和值时，只返回匹配该字段值的加速项目。如果需要反向查询，可以在字段值前面加上感叹号“!”。例如：<code>hasConfig=edgeLogic!sorted</code>，这个查询将筛选出<i>edgeLogic</i>字段不包含值“sorted”的加速项目。查询数字或布尔类型字段的值时需要精确匹配，而字符串字段支持部分匹配。例如，<code>hasConfig=hostnames:domain</code>将返回加速域名包含字符串“domain”的所有加速项目，例如“mydomain.com”和“thedomains.com”。如果省略冒号和值，则将返回指定字段值为非空的所有加速项目。可以指定多个<i>hasConfig</i>参数在多个条件下进行查询。例如：<code>hasConfig=hasBeian:true&hasConfig=realTimeLog</code>，这个查询只返回与所有参数匹配的加速项目。如果一个加速项目有多个版本，只要该加速项目的任何版本与<i>hasConfig</i>参数匹配，则该加速项目将包含在该接口的响应中。可以使用句点符号作为分隔符来指定加速项目版本的子字段。如果要匹配的值带有空格或特殊字符，请在URL中对其进行编码。以下是一些示例： <table><tr><th>值</th><th>描述</th></tr><tr><td>hasConfig=disableHttp2:true</td><td>返回禁用HTTP2的加速项目。</td></tr><tr><td>hasConfig=extraServicePorts.http:85</td><td>返回支持HTTP请求端口85的加速项目。</td></tr><tr><td>hasConfig=origins.servers:myorigin.com</td><td>返回使用myorigin.com作为源站的加速项目。</td></tr></table>"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "staging",
                "production"
              ],
              "default": "all"
            },
            "in": "query",
            "name": "target",
            "description": "根据加速项目的部署环境过滤。该值可以是“all”, “staging”, 或“production”。"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "查询起始位置。"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "每次查询的最大条数。"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "in": "query",
            "name": "sortOrder",
            "description": "返回加速项目的顺序。默认按最后更新时间降序。"
          },
          {
            "schema": {
              "type": "string",
              "default": "lastUpdateTime",
              "enum": [
                "creationTime",
                "lastUpdateTime"
              ]
            },
            "in": "query",
            "name": "sortBy",
            "description": "返回结果的排序依据。"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可使用该请求头指定代理客户的ID。"
          },
          {
            "name": "Report-Range",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可用该请求头来指定查询范围是否包括子客户。 <table><tr><th>取值</th><th>查询范围</th></tr><tr><td>self-only</td><td>只查询调用者本身账号下的数据。</td></tr><tr><td>children-only</td><td>只查询调用者子客户下的数据。</td></tr><tr><td>self+children</td><td>查询调用者及其子客户下的数据。</td></tr></table>"
          }
        ],
        "tags": [
          "加速项目管理"
        ]
      }
    },
    "/cdn/properties/{propertyID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "propertyID",
          "in": "path",
          "description": "加速项目ID。",
          "required": true
        }
      ],
      "get": {
        "summary": "获取加速项目详细信息",
        "responses": {
          "200": {
            "description": "返回加速项目的信息，包括加速项目描述、部署到生产和演练环境的版本以及已创建的版本数等。",
            "content": {
              "application/json": {
                "schema": {
                  "title": "property",
                  "type": "object",
                  "description": "加速项目详细信息。",
                  "x-examples": {
                    "example-1": {
                      "value": {
                        "name": "TestProperty1572420965460",
                        "description": "validPropertyBodyWithCertificate_PropertyEndToEndTestSteps",
                        "ownerCustomerId": 10000021,
                        "versions": 1,
                        "lastUpdateTime": "2019-10-30T07:36:06Z",
                        "creationTime": "2019-10-30T07:36:06Z"
                      }
                    }
                  },
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "加速项目的名称。"
                    },
                    "description": {
                      "type": "string",
                      "description": "加速项目的描述。"
                    },
                    "ownerCustomerId": {
                      "type": "integer",
                      "description": "拥有此加速项目的客户ID。"
                    },
                    "versionInProduction": {
                      "type": "integer",
                      "description": "部署到生产环境的加速项目版本。如果尚未部署加速项目，则将省略该字段。"
                    },
                    "versionInStaging": {
                      "type": "integer",
                      "description": "部署到演练的加速项目版本。如果尚未部署加速项目，则将省略该字段。"
                    },
                    "creationTime": {
                      "type": "string",
                      "description": "RFC 3339格式的日期，表示创建加速项目的时间。"
                    },
                    "lastUpdateTime": {
                      "type": "string",
                      "description": "RFC 3339格式的日期，表示加速项目的最近更新时间。"
                    },
                    "versions": {
                      "type": "integer",
                      "description": "加速项目的版本数量。"
                    }
                  },
                  "required": [
                    "name"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "name": "Test20190827",
                      "description": "testing ....",
                      "ownerCustomerId": 6,
                      "versions": 1,
                      "lastUpdateTime": "2019-08-27T19:33:38Z",
                      "creationTime": "2019-08-27T19:15:17Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到加速项目。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid property ID": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "查询某个加速项目的信息，包括已创建的版本数以及哪些版本已部署等。",
        "operationId": "queryProperty",
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可使用该请求头指定代理客户的ID。"
          }
        ],
        "tags": [
          "加速项目管理"
        ]
      },
      "patch": {
        "summary": "更新加速项目",
        "responses": {
          "200": {
            "description": "加速项目更新成功。"
          },
          "403": {
            "description": "禁止访问。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到加速项目。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid property ID": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "已存在指定名字的加速项目。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Duplicate property name.": {
                    "value": {
                      "code": "DuplicatePropertyName",
                      "message": "A property with the same name already exists."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "该接口用于更新加速项目的名称和描述。这种更新不影响加速项目的版本。\n如果要更改加速项目的配置，请调用<a href=\"#operation/updatePropertyVersion\">更新加速项目版本</a>接口。",
        "operationId": "updateProperty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "加速项目的名称。"
                  },
                  "description": {
                    "type": "string",
                    "description": "加速项目的描述。"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "TestProperty1572403806952",
                    "description": "updated"
                  }
                }
              }
            }
          },
          "description": "指定加速项目的新名称或描述。"
        },
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可使用该请求头指定代理客户的ID。"
          }
        ],
        "tags": [
          "加速项目管理"
        ]
      },
      "delete": {
        "summary": "删除加速项目",
        "description": "根据ID删除加速项目。",
        "operationId": "deleteProperty",
        "responses": {
          "204": {
            "description": "删除加速项目成功。"
          },
          "403": {
            "description": "禁止访问。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "AccessDenied",
                      "message": "This user is not allowed to perform this request."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到加速项目。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "无法删除该加速项目，因为它当前已部署。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "PropertyInUse",
                      "message": "The property is currently deployed to staging or production and cannot be deleted. The user must create a deployment task to remove the property from the cache servers. Version on staging: 2. Version on production: 2."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可使用该请求头指定代理客户的ID。"
          }
        ],
        "tags": [
          "加速项目管理"
        ]
      }
    },
    "/cdn/properties/{propertyID}/versions": {
      "get": {
        "description": "获取加速项目版本列表。返回每个版本的摘要信息，包括其状态及关联的加速域名等。",
        "operationId": "getPropertyVersions",
        "summary": "获取加速项目版本列表",
        "responses": {
          "200": {
            "description": "返回加速项目的版本列表。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "propertyVersions": {
                      "type": "array",
                      "description": "加速项目每个版本的摘要。",
                      "items": {
                        "type": "object",
                        "description": "描述某个加速项目版本。",
                        "properties": {
                          "version": {
                            "type": "integer",
                            "minimum": 1,
                            "description": "版本号。"
                          },
                          "description": {
                            "type": "string",
                            "description": "加速项目版本描述。"
                          },
                          "creationTime": {
                            "type": "string",
                            "description": "RFC 3339格式的日期，表示创建加速项目版本的时间。示例：2016-12-28T23:10:42Z"
                          },
                          "hostnames": {
                            "type": "array",
                            "description": "加速项目关联的加速域名。",
                            "items": {
                              "type": "string"
                            }
                          },
                          "frozen": {
                            "type": "boolean",
                            "default": false,
                            "description": "表示加速项目版本是已冻结还是仍可以更新。加速项目版本在部署后即被冻结。"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "description": "RFC 3339格式的日期，表示加速项目版本的最近更新时间。示例：2016-12-28T23:10:42Z"
                          },
                          "lastValidationStatus": {
                            "type": "string",
                            "enum": [
                              "NotValidated",
                              "InProgress",
                              "Validated",
                              "Failed"
                            ],
                            "description": "加速项目版本最近一次验证的状态。"
                          }
                        },
                        "required": [
                          "version",
                          "hostnames"
                        ]
                      }
                    },
                    "count": {
                      "type": "integer",
                      "description": "加速项目的版本数量。",
                      "minimum": 0
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "propertyVersions": [
                        {
                          "version": 1,
                          "description": "validProperty_GetPropertyVersionListTestSteps",
                          "creationTime": "2019-10-30T02:33:45Z",
                          "hostnames": [
                            "domain.info"
                          ],
                          "frozen": false,
                          "lastUpdateTime": "2019-10-30T02:33:45Z",
                          "lastValidationStatus": "NotValidated"
                        },
                        {
                          "version": 2,
                          "description": "validPropertyVersionWithoutCertificate_PropertySteps",
                          "creationTime": "2019-10-30T02:33:46Z",
                          "hostnames": [
                            "domain.info"
                          ],
                          "frozen": true,
                          "lastUpdateTime": "2019-10-30T02:33:46Z",
                          "lastValidationStatus": "Validated"
                        },
                        {
                          "version": 3,
                          "description": "validPropertyVersionWithoutCertificate_PropertySteps",
                          "creationTime": "2019-10-30T02:33:47Z",
                          "hostnames": [
                            "domain.info"
                          ],
                          "frozen": false,
                          "lastUpdateTime": "2019-10-30T02:33:47Z",
                          "lastValidationStatus": "NotValidated"
                        }
                      ],
                      "count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "无效请求，请查看响应体中的错误信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "InvalidListLimit",
                      "message": "The value of limit should be between 1 and 200, inclusive."
                    }
                  },
                  "example-2": {
                    "value": {
                      "code": "InvalidListOffset",
                      "message": "The offset must be a valid non-negative integer."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到加速项目。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "search",
            "description": "用于匹配加速项目的描述字段以过滤结果。"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "每次查询的最大条数。"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "查询起始位置。"
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "如果您是代理商，可使用该请求头指定代理客户的ID。"
          }
        ],
        "tags": [
          "加速项目管理"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "propertyID",
          "in": "path",
          "required": true,
          "description": "加速项目ID。"
        }
      ],
      "post": {
        "summary": "创建加速项目版本",
        "responses": {
          "201": {
            "description": "加速项目版本创建成功，返回<b>Location</b> HTTP标头，携带版本号。示例：\n<code>Location: http://ngapi.cdnetworks.com/cdn/properties/e0d1819863b856c42635ae17/versions/8</code>",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "新版本号",
                "required": true
              }
            }
          },
          "400": {
            "description": "无效请求，请查看返回体中的错误信息。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Invalid origin": {
                    "value": {
                      "code": "InvalidOrigins",
                      "message": "The origin hostHeader 'invalid' is invalid. It must be a valid hostname or a variable name ($ + a string consists of lower case a-z and '_' with length 3-60)."
                    }
                  },
                  "OriginHostnameConflict": {
                    "value": {
                      "code": "OriginHostnameConflict",
                      "message": "At least one of the hostnames is equal to an origin's server name."
                    }
                  },
                  "Invalid service port": {
                    "value": {
                      "code": "InvalidServicePort",
                      "message": "The https service port 1234 is not supported."
                    }
                  },
                  "Unauthorized directive": {
                    "value": {
                      "code": "UnauthorizedDirective",
                      "message": "The directive 'origin_fast_route' is not enabled for your account. Please contact our support team if you require it."
                    }
                  },
                  "Invalid directive": {
                    "value": {
                      "code": "InvalidDirective",
                      "message": "An invalid directive 'ORIGIN_set_header' was found in your Edge Logic. Please refer to the API documentation for a list of supported directives."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "未找到加速项目。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "messasge": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "code": "InvalidPropertyId",
                      "message": "The specified property ID does not exist."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "创建一个新的加速项目版本。",
        "operationId": "createPropertyVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "propertyConfiguration",
                "type": "object",
                "description": "描述加速项目的所有配置信息。",
                "x-examples": {
                  "example-1": {
                    "value": {
                      "syntaxVersion": 1,
                      "edgeLogic": "location / {origin_pass my_origin_1572420965460;}",
                      "tlsMaxVersion": "1.2",
                      "tlsMinVersion": "1.1",
                      "tlsCertificateId": "8961b13c87cd30a7687edc8c",
                      "origins": [
                        {
                          "hostHeader": "testcustomer.g.qtlcdn.com",
                          "servers": [
                            "edgetools.theoriginserver.com"
                          ],
                          "name": "my_origin_1572420965460",
                          "directConnection": "noDirect"
                        }
                      ],
                      "hostnames": [
                        "testcustomer1572420596536.g.qtlcdn.com"
                      ]
                    }
                  }
                },
                "x-tags": [
                  "Property Management"
                ],
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "版本描述。"
                  },
                  "cacheKeyHostname": {
                    "type": "string",
                    "description": "用于缓存键（Cache Key）的主机名必须是由小写字母、数字、点、连字符和下划线组成的字符串。如果未指定，默认将使用传入的Host请求头值，并且此加速项目中的不同加速域名之间不共享缓存。",
                    "maxLength": 80,
                    "pattern": "^[a-z.-_]+"
                  },
                  "hostnames": {
                    "type": "array",
                    "description": "与加速项目关联的加速域名。必须是FQDN完全限定域名，如 www.domain.com，或通配符域名，如 *.domain.com。同一个加速域名在同一时间只能存在于一个已部署的加速项目中。但是，通配符域名可以与完全限定域名一同部署。",
                    "items": {
                      "type": "string"
                    }
                  },
                  "realTimeLog": {
                    "type": "object",
                    "description": "此可选字段用来配置发送消息通知到您的远程服务器。当有客户端请求访问您的加速域名时，将触发通知发送。需要先开通<i>realtime_log_switch</i>指令，才能使用该功能。如果您需要此功能，请联系我们的技术支持。",
                    "properties": {
                      "logUrl": {
                        "type": "string",
                        "description": "接收通知的服务器URL地址。必须以“http”或“https”开头。服务器须支持POST方法。这是必填字段。"
                      },
                      "sampleRate": {
                        "type": "integer",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 65536,
                        "description": "采样率。介于[1, 65536]之间的整数。n表示每n个边缘请求发送1条通知。1表示每个边缘请求都会发送。这是可选字段。默认值为1。"
                      },
                      "escape": {
                        "type": "string",
                        "enum": [
                          "json",
                          "none"
                        ],
                        "description": "指定<i>json</i>以启用变量中的json字符转义，或指定<i>none</i>，以禁用转义。"
                      },
                      "format": {
                        "type": "string",
                        "description": "该字段用来定义要发送到远程服务器的通知的格式。通知正文可以包括任何能在HTTP POST请求体中发送的可打印文本。这是必填字段。\n\n可以使用以下内置变量定义通知的格式。发送通知时，它们将被替换为实际值。\n<table>\n<tr><th>变量名称</th><th>描述</th></tr>\n<tr><td>$body_bytes_sent</td><td>响应体大小。</td></tr>\n<tr><td>$bytes_sent</td><td>响应的大小，包括响应体、标头和响应行。</td></tr>\n<tr><td>$client_country_code</td><td>客户端请求来源国家，以ISO 3166-1国家代码表示。例如“US”。如果国家/地区未知，则返回“ZZ”。</td></tr>\n<tr><td>$client_real_ip</td><td>客户端请求的IP地址。</td></tr>\n<tr><td>$cookie_x</td><td>这允许您获取任何名为x的cookie。例如，$cookie_account将获取名为“account”的cookie值。</td></tr>\n<tr><td>$http_x</td><td>从原始请求中获取任何名为x的HTTP头。标头名称将转换为小写，并用下划线替换连字符。例如，指定$http_user_agent以获取User-Agent的值。</td></tr>\n<tr><td>$msec</td><td>当前unix时间，以毫秒为单位。</td></tr>\n<tr><td>$qtl_req_id</td><td>请求的唯一标识符。</td></tr>\n<tr><td>$request_uri</td><td>HTTP请求URI。</td></tr>\n<tr><td>$request_method</td><td>用于访问源站的HTTP请求方法。</td></tr>\n<tr><td>$request_time</td><td>响应时间，以毫秒为单位。这是从接收请求的第一个字节到服务响应的最后一个字节之间的时间。</td></tr>\n<tr><td>$sc_completed</td><td>1表示对象的最后一个字节已返回给用户，否则为0。</td></tr>\n<tr><td>$sc_initial</td><td>1表示对象的第一个字节已返回给用户，否则为0。</td></tr>\n<tr><td>$scheme</td><td>表示用户请求的协议（“http”或“https”）。</td></tr>\n<tr><td>$sent_http_content_length</td><td>原始文件大小。</td></tr>\n<tr><td>$sent_http_x</td><td>获取在对客户端响应中名为x的HTTP响应头的值。标头名称将转换为小写，并用下划线替换连字符。例如，$sent_http_etag将为您提供ETag头的值。</td></tr>\n<tr><td>$server_addr</td><td>为用户请求提供服务的边缘节点的IP地址。</td></tr>\n<tr><td>$server_protocol</td><td>表示用户请求中使用的HTTP版本，可以是“HTTP/1.0”、“HTTP/1.1”或“HTTP/2.0”。</td></tr>\n<tr><td>$ssl_cipher</td><td>表示用于TLS（SSL）连接的加密算法套件。</td></tr>\n<tr><td>$ssl_server_name</td><td>发起TLS（SSL）连接的客户端试图连接到的域名。它仅由支持SNI（Server Name Indication）的客户端发送。</td></tr>\n<tr><td>$ssl_protocol</td><td>表示用于TLS（SSL）连接的TLS版本。示例版本包括“SSLv3”、“TLSv1”、“TLSv1.1”、“TLSv1.2”和“unknown”。</td></tr>\n<tr><td>$status</td><td>用户请求的HTTP状态码。</td></tr>\n<tr><td>$tcpinfo_rtt</td><td>数据包往返目的地所用的时间，以微秒为单位。</td></tr>\n</table>"
                      },
                      "headers": {
                        "type": "array",
                        "description": "需要发送到远程服务器的HTTP请求头名称和值。请求头名称可以包含任何字母，数字或连字符“-”。值可以包含任何可打印字符。它还可以包含realTimeLog对象的<i>format</i>字段中支持的任何内置变量。",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "HTTP标头名称"
                            },
                            "value": {
                              "type": "string",
                              "description": "HTTP标头值"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "logUrl"
                    ]
                  },
                  "edgeLogic": {
                    "type": "string",
                    "maxLength": 65530,
                    "description": "自定义边缘逻辑。参考<a href=\"/cdn/docs/edge-logic/intro\">边缘逻辑介绍</a>。"
                  },
                  "hasBeian": {
                    "type": "boolean",
                    "default": false,
                    "description": "此加速项目中的所有加速域名是否都已获得中国政府的ICP备案。这是使用中国大陆节点服务所必需的条件。如果值为<i>false</i>，则使用中国大陆以外的加速节点为中国大陆用户提供内容分发服务。如果设置为<i>true</i>，还必须在<i>beianContentType</i>字段中指定内容类型。"
                  },
                  "redirectHttpToHttps": {
                    "type": [
                      "boolean",
                      "string"
                    ],
                    "default": false,
                    "description": "此字段可以设置为布尔值或字符串。如果设置为<i>true</i>，则服务器将使用状态码301将所有HTTP请求重定向到HTTPS。如果您希望在重定向请求时返回不同的状态码，也可以指定字符串值“302”、“307”或“308”。"
                  },
                  "origins": {
                    "type": "array",
                    "description": "描述加速项目对应的源站。",
                    "items": {
                      "type": "object",
                      "description": "描述一个源站。",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "源站名称，在此加速项目中必须唯一。",
                          "pattern": "^[a-zA-z0-9_]"
                        },
                        "servers": {
                          "type": "array",
                          "description": "源站服务器列表。每个条目应该是一个字符串，由一个地址与一个或多个参数组成，参数之间以空格分隔。地址可以采用以下三种形式之一：\n<ul>\n<li>{域名或IP地址}</li>\n<li>{域名或IP地址}:{HTTP端口}</li>\n<li>{域名或IP地址}:{HTTP端口},{HTTPS端口}</li>\n</ul>\nHTTP和HTTPS端口的值应为[1,65535]范围内的整数。\n即使<i>supportedProtocol</i>的值为“https”，也必须指定HTTPS端口。\n在第三种形式中，两个端口中的一个可以为空。\n\n支持的参数为“backup”和“weight”。\n“backup”用于标识备份服务器。它将在主服务器不可用时使用。\n“weight”是范围[1,100]内的值，默认值为1，用来设置服务器权重，控制一台源站服务器相对于另一台被使用的可能性。\n每个源站应至少定义一个主服务器（即不带“backup”参数的服务器）。\n\n示例：\n<code>[\"www.abc.com weight=1\", \"www1.abc.com:8080 weight=4\", \"www2.abc.com:880,4443 backup\"]</code>\n\n此示例指定了两个主服务器，其权重为1:4，这意味着第一个服务器将获得约20%的回源请求，而另一个将获得约80%。此外，还指定了一个备份服务器。",
                          "example": "[“www.abc.com”, “www1.abc.com:8080”, “www2.abc.com:880,4443 backup”]",
                          "items": {
                            "type": "string"
                          }
                        },
                        "supportedProtocol": {
                          "type": "string",
                          "description": "此可选字段表示源站服务器支持的协议。如果此加速项目附加了证书，且<i>allowProtocolDowngrade</i>字段也设置为<i>true</i>，则可以将该值设置为<i>http</i>。",
                          "enum": [
                            "http",
                            "https",
                            "both"
                          ]
                        },
                        "directConnection": {
                          "type": "string",
                          "default": "auto",
                          "description": "此可选字段表示边缘节点是否需要直接回源。这些值可以是“noDirect”、“auto”、“alwaysDirect”。\n\n“noDirect”指总是通过至少一个中间缓存节点回源。对于特别关心源站负载的客户可以使用此选项。我们的调度程序将根据性能和资源可用性动态选择中间缓存节点。\n“alwaysDirect”指总是直接回源。\n“auto”指自动选择直接回源或通过中间缓存节点回源。调度程序将根据性能和资源可用性动态做出选择。该字段未指定时，采用此默认行为。"
                        },
                        "hostHeader": {
                          "type": "string",
                          "description": "可选。必须是有效的域名。它也将在连接HTTPS源站时作为SNI域名。它还可以是一个nginx变量，以“$”开头，后跟[a-z_]{3,60}。Nginx变量名不区分大小写，因此我们只允许小写字符。\n如果未指定，将使用请求中的HOST请求头的值。\n\n有一个约束条件是，如果指定了“awsS3”作为回源鉴权参数，则<i>hostHeader</i>的值不能为变量或为空，必须是有效的Amazon S3主机名。参考：https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html",
                          "format": "hostname"
                        },
                        "verifyOrigin": {
                          "type": "boolean",
                          "default": false,
                          "description": "可选。用来控制缓存节点是否验证源站证书。"
                        },
                        "authentication": {
                          "type": "object",
                          "description": "可选。用于指定参数（如密码）与源服务器进行身份验证（回源鉴权）。必须至少有“methodName”（字符串）字段，用来指定预定义的身份验证方法。目前仅支持源站为AWS S3的回源鉴权，因此唯一有效的值是“awsS3”。使用“awsS3”时，需要提供以下参数：\n<ul>\n<li>awsS3.region</li>\n<li>awsS3.accessKey</li>\n<li>awsS3.secretKey</li>\n</ul>\n此外，<i>hostHeader</i>字段的值不能为变量或为空，必须是有效的Amazon S3主机名。\n\n示例：\n<code>\n{\"methodName\":\"awsS3\",\n\"awsS3\":{\n\"region\":\"us-west-1\",\n\"accessKey\":\"sdnu2932\",\n\"secretKey\":\"d12345678abcdefghi\"\n}}\n</code>",
                          "example": "{“methodName”:”awsS3”, ”awsS3”:{ ”region”:”us-west-1”, ”accessKey”:”sdnu2932”, ”secretKey”:”d12133424fvregvrew” }}",
                          "properties": {
                            "methodName": {
                              "type": "string",
                              "description": "鉴权方法。"
                            }
                          }
                        },
                        "keepAliveTimeout": {
                          "type": "integer",
                          "default": 60,
                          "description": "用于配置CDN Pro和源站建连的Keep-Alive超时时间，单位为秒。通过<i>maxUpstreamKeepaliveTimeOut</i> 该服务设置项可以更改允许的最大值。",
                          "minimum": 5,
                          "maximum": 600
                        },
                        "peerFailureTimeout": {
                          "type": [
                            "string",
                            "object"
                          ],
                          "enum": [
                            "off"
                          ],
                          "description": "该字段用于设定连接某个源站服务器的失败重试次数和将服务器标记为不可用的超时时长。当某个源站服务器的失败重试次数达到指定的阈值，则该服务器会被标记为不可用，不可用时长为<i>timeout</i>字段指定的超时时长。如果所有源站服务器都不可用，则对应的请求将立即收到502状态码。默认情况下，对每个源站服务器进行6次重试，之后将服务器标记为不可用，时长为1秒。要禁用此功能，请将peerFailureTimeout设置为“<i>off</i>”。",
                          "properties": {
                            "failureThreshold": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 999,
                              "default": 6,
                              "description": "在源站服务器被标记为不可用之前的失败重试次数。"
                            },
                            "timeout": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 1200,
                              "default": 1,
                              "description": "源站服务器被标记为不可用的超时时间，单位为秒。"
                            }
                          }
                        },
                        "tlsCertificateId": {
                          "type": "string",
                          "description": "用于验证源站服务器的<a href=\"#tag/证书管理\">证书</a>，该证书同样必须被部署。"
                        }
                      }
                    }
                  },
                  "syntaxVersion": {
                    "type": "number",
                    "default": 1,
                    "description": "当前仅允许值为1。"
                  },
                  "disableHttp2": {
                    "type": "boolean",
                    "default": false,
                    "description": "当值为<i>true</i>时，禁用对HTTP/2的支持，仅支持HTTP/1.1。"
                  },
                  "schemeInCacheKey": {
                    "type": "boolean",
                    "default": false,
                    "description": "指定缓存键（Cache key）是否区分协议（“http”或“https”）。默认为</i>false</i>。如果不同协议响应的内容不同，则设置为<i>true</i>。"
                  },
                  "tlsMaxVersion": {
                    "type": "string",
                    "default": 1.3,
                    "enum": [
                      1.1,
                      1.2,
                      1.3
                    ],
                    "description": "支持的TLS最高版本。"
                  },
                  "loadBalancerHashKey": {
                    "type": "string",
                    "description": "我们的CDN使用了多层负载均衡架构，以将客户端请求分发到不同的服务器。我们在架构中多处使用到一致性哈希。默认情况下，URL被用作哈希键，这适用于大多数情况。您可以在这里定义要添加到哈希键的其他变量，以更均匀地分配请求。一个典型的使用场景是，所有请求都携带相同的URL，但使用特定的标头来区分资源。\n\n这是一个可选字段。默认值为空字符串。有效值必须满足以下条件：\n<ol>\n<li>由字母、数字、下划线_、等号=、美元符号$和符号&组成。</li>\n<li>变量名只能采用以下格式之一：$http_name、$cookie_name、$arg_name。</li>\n<li>必须至少指定一个变量，不允许超过三个。</li>\n<li>总长度不得超过100个字符。</li>\n</ol>\n我们的配置验证器将把任何美元符号及其后的字符串（在任何=或&或$之前）视为变量。\n\n以下是一些有效值的示例：\n<table>\n<tr><td>$http_abc</td></tr>\n<tr><td>abc=$http_abc&def=$http_def&c_123=$cookie_123</td></tr>\n<tr><td>abc=$http_abc=$http_def</td></tr>\n<tr><td>$http_abc&$http_def</td></tr>\n<tr><td>=$http_abd&</td></tr>\n<tr><td>&&abc==$http_abc&&&===qwer</td></tr>\n</table>",
                    "maxLength": 100
                  },
                  "tlsCertificateId": {
                    "type": "string",
                    "description": "该加速项目用到的<a href=\"#tag/证书管理\">证书</a>ID。仅设置<i>tlsCertificateId1</i>字段而不设置<i>tlsCertificateId</i>字段是无效的。如果未设置<i>tlsCertificateId</i>，则不会为此加速项目启用HTTPS。该功能允许您指定两个不同类型的证书，即一个RSA，一个EC。如果指定了两个相同类型的证书，则将忽略<i>tlsCertificateId</i>指定的证书。 "
                  },
                  "tlsMinVersion": {
                    "type": "string",
                    "default": 1,
                    "description": "所需的TLS最低版本。",
                    "enum": [
                      1.1,
                      1.2,
                      1.3,
                      1
                    ]
                  },
                  "tlsCiphers": {
                    "type": "string",
                    "description": "“openssl ciphers”支持的任何加密算法套件。参考：https://www.openssl.org/docs/manmaster/man1/ciphers.html",
                    "maxLength": 2040
                  },
                  "allowProtocolDowngrade": {
                    "type": "boolean",
                    "default": false,
                    "description": "是否允许协议降级。仅当加速项目中存在允许客户端使用HTTPS请求的证书时，此设置才适用。如果allowProtocolDowngrade的值为<i>false</i>，则要求所有源服务器支持HTTPS。如果值为<i>true</i>，则允许仅支持HTTP的源，但这会降低安全性。"
                  },
                  "tlsCertificateId1": {
                    "type": "number",
                    "description": "指该加速项目用到的<a href=\"#tag/证书管理\">证书</a>ID。仅设置<i>tlsCertificateId1</i>字段而不设置<i>tlsCertificateId</i>字段是无效的。如果未设置<i>tlsCertificateId</i>，则不会为此加速项目启用HTTPS。该功能允许您指定两个不同类型的证书，即一个RSA，一个EC。如果指定了两个相同类型的证书，则将忽略<i>tlsCertificateId</i>指定的证书。"
                  },
                  "videoSeek": {
                    "type": "object",
                    "description": "此对象用来支持视频播放器通过指定查询参数来请求部分内容。当<i>videoSeek</i>对象存在时，必须为<i>startParameter</i>设置一个值。",
                    "properties": {
                      "startParameter": {
                        "type": "string",
                        "description": "查询参数的名称，用来指定要获取的内容的起始位置（以字节计算）。参数名称应以字母（a-z，A-Z）开头，后面最多可以有30个字母和数字。",
                        "minLength": 1,
                        "maxLength": 31
                      },
                      "endParameter": {
                        "type": "string",
                        "description": "查询参数的名称，用来指定要获取的内容的结束位置（以字节计算）。参数名称应以字母（a-z，A-Z）开头，后面最多可以有30个字母和数字。",
                        "minLength": 0,
                        "maxLength": 31
                      }
                    },
                    "required": [
                      "startParameter"
                    ]
                  },
                  "tlsSessionTimeout": {
                    "type": "integer",
                    "minimum": 300,
                    "maximum": 86400,
                    "default": 1800,
                    "description": "TLS会话ticket的有效期（秒）。"
                  },
                  "enableOcspStapling": {
                    "type": "boolean",
                    "default": false,
                    "description": "是否启用在线证书状态协议（OCSP）装订以检查数字证书的吊销状态。参考：https://en.wikipedia.org/wiki/OCSP_stapling"
                  },
                  "beianContentType": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 24,
                    "description": "如果您计划通过中国大陆的服务器分发内容，则需要将<i>hasBeian</i>字段设置为<i>true</i>，并指出您分发的内容类型。输入与您的内容最匹配的值：\n\n<table>\n<tr><th>值</th><th>内容类型</th></tr>\n<tr><td>1</td><td>即时通信</td></tr>\n<tr><td>2</td><td>搜索引擎</td></tr>\n<tr><td>3</td><td>综合门户</td></tr>\n<tr><td>4</td><td>网上邮局</td></tr>\n<tr><td>5</td><td>网络新闻</td></tr>\n<tr><td>6</td><td>博客/个人空间</td></tr>\n<tr><td>7</td><td>网络广告</td></tr>\n<tr><td>8</td><td>单位门户网站</td></tr>\n<tr><td>9</td><td>网络购物</td></tr>\n<tr><td>10</td><td>网上支付</td></tr>\n<tr><td>11</td><td>网上银行</td></tr>\n<tr><td>12</td><td>网上炒股</td></tr>\n<tr><td>13</td><td>网络游戏</td></tr>\n<tr><td>14</td><td>网络音乐</td></tr>\n<tr><td>15</td><td>网络影视</td></tr>\n<tr><td>16</td><td>网络图片</td></tr>\n<tr><td>17</td><td>软件下载</td></tr>\n<tr><td>18</td><td>网上求职</td></tr>\n<tr><td>19</td><td>在线交友</td></tr>\n<tr><td>20</td><td>网上房产</td></tr>\n<tr><td>21</td><td>网络教育</td></tr>\n<tr><td>22</td><td>网站建设</td></tr>\n<tr><td>23</td><td>WAP</td></tr>\n<tr><td>24</td><td>其他</td></tr>\n</table>"
                  },
                  "accessControlRules": {
                    "type": "array",
                    "description": "指定一个或多个访问控制规则以限制对内容的访问。可以使用边缘逻辑进行更高级的配置。此处定义的访问控制规则，优先级高于边缘逻辑。",
                    "items": {
                      "title": "accessControlRule",
                      "type": "object",
                      "description": "此对象可定义对内容的访问控制规则。您也可以使用CDN Pro的边缘逻辑来创建更复杂的规则。",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 60,
                          "minLength": 0,
                          "description": "访问控制规则ID。"
                        },
                        "conditions": {
                          "type": "object",
                          "description": "指定客户端请求必须匹配的条件。必须至少指定一个条件。如果指定了多个条件，则必须全部匹配。",
                          "properties": {
                            "scheme": {
                              "type": "string",
                              "enum": [
                                "https",
                                "http"
                              ],
                              "description": "客户端请求的协议，HTTP或HTTPS。"
                            },
                            "hostname": {
                              "type": "string",
                              "description": "请求对应的加速域名。必须是加速项目中定义的加速域名之一。"
                            },
                            "uri": {
                              "type": "string",
                              "description": "用于前缀匹配的URI，以“/”开头，可以以“*”结尾。",
                              "maxLength": 500
                            },
                            "serverRegions": {
                              "type": "array",
                              "description": "服务器所在区域，以<a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 两位国家代码</a>表示。例如，“US”代表“美国”。",
                              "items": {
                                "type": "string"
                              }
                            },
                            "clientRegions": {
                              "type": "array",
                              "description": "客户端请求来源区域，以<a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO-3166-1 两位国家代码</a>表示。例如，“CN”代表“中国”。",
                              "items": {
                                "type": "string"
                              }
                            },
                            "clientIpRange": {
                              "type": "array",
                              "description": "用于指定要匹配的客户端请求的开始和结束IP地址。必须是IPv4或IPv6格式。",
                              "items": {
                                "type": "string",
                                "maxLength": 2
                              }
                            }
                          }
                        },
                        "action": {
                          "type": "object",
                          "description": "对于匹配到以上条件的请求所采取的相应操作。",
                          "required": [
                            "status"
                          ],
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "响应的HTTP状态码，范围必须在300-309、400-409或500-509之间，分别表示重定向或错误。"
                            },
                            "message": {
                              "type": "string",
                              "maxLength": 200,
                              "description": "如果<i>status</i>字段的值在300-309范围内，<i>message</i>字段的值将在返回给客户端的Location响应头中。如果<i>status</i>字段的值在400-409或500-509范围内，则<i>message</i>字段的值将在返回给客户端的响应体中。"
                            }
                          }
                        }
                      },
                      "required": [
                        "conditions",
                        "action"
                      ]
                    }
                  },
                  "disableCertAutomation": {
                    "type": "boolean",
                    "description": "默认情况下，CDN Pro控制/.well-known/{acme-challenge, pki-validation}目录下的内容，以支持加速项目的证书自动更新功能。如果您需要自己在源站管理这两个目录，例如，为了实现您自己的证书自动更新机制，您可以将此字段设置为<i>true</i>来禁用默认行为。有关我们支持证书自动更新的更多信息，请参阅<a href=\"#operation/createCertificate\">创建证书</a>接口中<i>autoRenew</i>字段的说明。",
                    "default": false
                  },
                  "cacheKeyUri": {
                    "type": "string",
                    "enum": [
                      "preRewrite",
                      "postRewrite"
                    ],
                    "default": "preRewrite",
                    "description": "如果在加速项目的边缘逻辑中使用了“rewrite”指令，可使用该字段来控制客户端请求的URI如何合并到缓存键（Cache Key）中 。默认值“preRewrite”指将改写前的URI放入缓存键，而“postRewrite”则使用改写后的URI。如果您的“rewrite”指令将多个不同的URI改写为相同的值，则使用“postRewrite”可以提高缓存命中率。"
                  },
                  "extraServicePorts": {
                    "type": "object",
                    "description": "除标准的80，443端口外，我们还支持一些扩展端口。可用该字段指定用于处理HTTP和HTTPS请求的扩展端口。",
                    "properties": {
                      "http": {
                        "type": "array",
                        "description": "这是可用于处理HTTP请求的端口列表（80端口除外）。可通过调用<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口来查询系统支持的端口。如果您需要开通其他端口，请联系技术支持。",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 65535
                        }
                      },
                      "https": {
                        "type": "array",
                        "description": "这是可用于处理HTTPS请求的端口列表（443端口除外）。可通过调用<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口来查询系统支持的端口。如果您需要开通其他端口，请联系技术支持。",
                        "items": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 65535
                        }
                      }
                    }
                  },
                  "loadBalancerLogic ": {
                    "type": "string",
                    "description": "此字段可用来自定义<a href=\"/cdn/docs/edge-logic/intro\">边缘逻辑</a>，控制负载均衡器的行为。支持使用<a href=\"/cdn/docs/edge-logic/supported-directives\"> 边缘逻辑指令</a>中的部分指令。请参考<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口中<i>baseLbDirectives</i>字段所列出的负载均衡基础指令。目前，这些基础指令包括“if”、“else”、“elseif”、“set”、“return”、“add_header”、“deny”、“allow”、“access_log_sampling”和“proxy_set_headers”。此外，我们还支持一些高级指令，请参考<a href=\"#operation/get-cdn-systemConfigs\">获取系统配置</a>接口中<i>advancedLbDirectives</i>字段所列出的负载均衡高级指令。如果您需要使用这些高级指令，请联系技术支持。\n\n<br/>示例：<br/>\n<code>\nif ($http_user_agent = bot) { return 403;}\n</code>",
                    "maxLength": 65530
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "syntaxVersion": 1,
                    "edgeLogic": "location / {origin_pass my_origin_1572402826736;} return 200;",
                    "origins": [
                      {
                        "servers": [
                          "mwtrial.info"
                        ],
                        "name": "my_origin_1572402826736"
                      }
                    ],
                    "description": "validPropertyVersionWithoutCertificate_PropertySteps",
                    "hostnames": [
                      "testdomain-t1572402826736.mwtrial.info"
[...]
